<% content_for :page_title, "Patch Notes - 10.1.2019 - Season 3 Patch of Apex Legends" %>

<style>
  body { background-image: url(<%= image_path("patch-notes/gradientbg-xs.png") %>) }
  @media (min-width: 480px) { body { background-image: url(<%= image_path("patch-notes/gradientbg-sm.png") %>) }}
  @media (min-width: 960px) { body { background-image: url(<%= image_path("patch-notes/gradientbg-season-3.png") %>) }}
</style>

<div class="wrapper wrapper--medium no-text-transform">
  <center class="top-offset"><%= image_tag "patch-notes/apex-season-3-white-logo.png", alt: "Apex Legends Season 3" %></center>

  <div class="no-text-transform top-offset">
    <article class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3">
      <div>
        <%= image_tag "patch-notes/crypto.png", alt: "Wattson", class: "pin-l pin-b absolute" %>
      </div>


      <h3>New Legend: <strong>Crypto</strong>&nbsp;&nbsp;&nbsp;</h3>

      <%= link_to "Find out more", legend_show_path("crypto"), class: "button-alternative button-alternative--primary button-alternative--huge" %>
    </article>
  </div>

<div class="wrapper wrapper--small no-text-transform top-offset">
  <h2>Patch Notes</h2>

  <h5 class="title-small">7.2.2019 - Season 3: Meltdown</h5>

  <div class="relative">
    <nav class="scroll-spy" data-role="scroll-spy">
      <%= link_to "Battle Pass", "#Battle_Pass_4", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Challenges", "#Challenges_9", class: "scroll-spy__item" %>
    </nav>
  </div>

  <h3 class="top-offset">
    <a data-scroll-spy id="New_Legend_Wattson_33"></a>
    New Legend: <strong>Crypto</strong></h3>
  <p><em>Cool, calm, and collected, Crypto deploys a specialized surveillance drone to stay in the fight and out of the spotlight.</em></p>
  <div class="items">
    <article class="item item--full-width">
      <div class="item__content item__content--same-height legend">
        <div class="legend__intro" style="padding: 0;">
          <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
            <%= image_tag "legends/wattson/ability_1.png" %>
            <div>
              <span class="color-basic">Neurolink</span>
              <small class="no-text-transform">Crypto and his teammates see what his Surveillance Drone detects up to a 30m distance.</small>
            </div>
          </div>
          <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
            <%= image_tag "legends/wattson/ability_2.png" %>
            <div>
              <span class="color-basic">Surveillance Drone</span>
              <small class="no-text-transform">Deploy an aerial camera drone. 40 second cooldown if destroyed.</small>
            </div>
          </div>
          <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
            <%= image_tag "legends/wattson/ability_3.png" %>
            <div>
              <span class="color-basic">Drone EMP</span>
              <small class="no-text-transform">Charge up an EMP from your drone. The blast deals 50 shield damage, slows players, and destroys traps.</small>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

  <center><%= link_to "More data on Crypto", legend_show_path("crypto"), class: "button-alternative button-alternative--primary" %></center>

  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <div>
      <h3><a id="worlds_edge"></a>New Map: <strong>World's Edge</strong></h3>
      <p class="has-line-data mb-0" data-line-start="4" data-line-end="5">After multiple suspicious setbacks during the reconstruction of Kings Canyon, the Syndicate has decided to move the Games to the cliffside mining city known as World’s Edge on nearby Talos. Legends can explore towering skyscrapers “frozen” by a chemical explosion, then catch a train to ice-covered hills, while avoiding deadly pits of molten lava if they want to be crowned Champion in this new arena.</p>
    </div>
  </div>

  <h4 class="code-line" data-line-start=6 data-line-end=7 ><a id="Where_is_Kings_Canyon_6"></a>Where is King’s Canyon</h4>
  <p class="has-line-data" data-line-start="8" data-line-end="9">For the start of Season 3 World’s Edge will be the only playable map across both regular and ranked matches. As the season progresses we’ll be looking at data, sentiment, and feedback to help us determine the best way to bring Kings Canyon back into the mix.</p>


  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <div>
      <h3><a id="New_Weapon_Charge_Rifle_2"></a>New Weapon: <strong>Charge Rifle</strong></h3>

      <p class="has-line-data mb-0" data-line-start="4" data-line-end="5">This energy rifle/sniper takes a second to warm up and will do minor damage to players if you keep a bead on them before delivering a mighty blow to whomever is on the receiving end of it. The Charge Rifle is part of the standard loot pool and can be found all over the map.</p>
    </div>
  </div>

  <center><%= image_tag "weapons/jpg/charge_rifle.jpg", class: "w-100" %></center>

  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h2><strong><a id="Legend_Changes_30"></a>Legend Changes</strong></h2>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="32" data-line-end="34"><strong>Executioner Perk:</strong> Previously, the Gold Armor perk, “Executioner”, gave a full shield recharge on successful completion of a finisher. In Season 3, all Legends will have this perk meaning–finishers will fully recharge your shields regardless if you have Gold Armor equipped or not. Gold Armor will now have a Guardian Angel perk that is detailed below in the Loot / Meta Changes section.</li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-120 mb-40">
    <h3><strong><a id="Gibraltar_34"></a>Gibraltar</strong></h3>

    <%= image_tag "patch-notes/cutout-gibraltar.png" %>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="36" data-line-end="41"><strong>Dome Shield</strong>
  <ul>
  <li class="has-line-data" data-line-start="37" data-line-end="38">Players in the Dome Shield use healing items 25% faster.</li>
  <li class="has-line-data" data-line-start="38" data-line-end="39">Increased the throw distance by 60%.</li>
  <li class="has-line-data" data-line-start="39" data-line-end="41">Increased cooldown.
  <ul>
  <li class="has-line-data" data-line-start="40" data-line-end="41">20 seconds -&gt; 30 seconds.</li>
  </ul>
  </li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="41" data-line-end="48"><strong>Defensive Bombardment</strong>
  <ul>
  <li class="has-line-data" data-line-start="42" data-line-end="44">Decreased cooldown.
  <ul>
  <li class="has-line-data" data-line-start="43" data-line-end="44">4.5 minutes -&gt; 3 minutes.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="44" data-line-end="46">Decreased duration
  <ul>
  <li class="has-line-data" data-line-start="45" data-line-end="46">8 seconds -&gt; 6 seconds.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="46" data-line-end="48">Increased throw distance by 36%.</li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-120 mb-40">
    <h3><strong><a id="Bloodhound_48"></a>Bloodhound</strong></h3>

    <%= image_tag "patch-notes/cutout-bloodhound.png" %>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="50" data-line-end="53"><strong>Eye of the Allfather</strong>
  <ul>
  <li class="has-line-data" data-line-start="51" data-line-end="52">Reduced the animation time to activate by 33%.</li>
  <li class="has-line-data" data-line-start="52" data-line-end="53">Now immediately tells you how many targets have been pinged.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="53" data-line-end="59"><strong>Beast of the Hunt</strong>
  <ul>
  <li class="has-line-data" data-line-start="54" data-line-end="55">Fixed an issue with FoV scaling messing up ADS aim sensitivity.</li>
  <li class="has-line-data" data-line-start="55" data-line-end="56">Reduced animation time to activate by 30%.</li>
  <li class="has-line-data" data-line-start="56" data-line-end="59">Increased movement speed bonus
  <ul>
  <li class="has-line-data" data-line-start="57" data-line-end="59">25% -&gt; 30%</li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-120 mb-40">
    <h3><strong><a id="Bangalore_59"></a>Bangalore</strong></h3>

    <%= image_tag "patch-notes/cutout-bangalore.png" %>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="61" data-line-end="65"><strong>Rolling Thunder</strong>
  <ul>
  <li class="has-line-data" data-line-start="62" data-line-end="65">Increased damage
  <ul>
  <li class="has-line-data" data-line-start="63" data-line-end="65">20 -&gt; 40.</li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-120 mb-40">
    <h3><strong><a id="Octane_65"></a>Octane</strong></h3>

    <%= image_tag "patch-notes/cutout-octane.png" %>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="67" data-line-end="70"><strong>Adrenaline Junkie</strong>
  <ul>
  <li class="has-line-data" data-line-start="68" data-line-end="70">Fixed an issue with FoV scaling messing up ADS aim sensitivity.</li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-120 mb-40">
    <h3><strong><a id="Wraith_70"></a>Wraith</strong></h3>

    <%= image_tag "patch-notes/cutout-wraith.png" %>
  </div>
  <blockquote>
  <p class="has-line-data" data-line-start="72" data-line-end="73">Designer Notes: We’ve pulled back additional nerfs for further testing, but Wraith’s power balance is definitely on our radar.</p>
  </blockquote>
  <ul>
  <li class="has-line-data" data-line-start="74" data-line-end="77"><strong>Dimensional Rift</strong>
  <ul>
  <li class="has-line-data" data-line-start="75" data-line-end="77">No longer deploys if you are downed before placing it.</li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-120 mb-40">
    <h3><strong><a id="Pathfinder_77"></a>Pathfinder</strong></h3>

    <%= image_tag "patch-notes/cutout-pathfinder.png" %>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="79" data-line-end="81"><strong>Grapple</strong>
  <ul>
  <li class="has-line-data" data-line-start="80" data-line-end="81">Reduced the grapple projectile velocity by 33%, meaning it takes a fraction of a second longer to connect the grapple to the wall. The behavior once you are connected remains the same.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="81" data-line-end="85"><strong>Zipline</strong>
  <ul>
  <li class="has-line-data" data-line-start="82" data-line-end="85">Increased cooldown
  <ul>
  <li class="has-line-data" data-line-start="83" data-line-end="85">90 seconds -&gt; 120 seconds.</li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>

  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h2><strong><a id="Weapon_and_Item_Changes_85"></a>Weapon and Item Changes</strong></h2>
  </div>

  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="Hopups_87"></a>Hop-ups</strong></h3>
  </div>

  <blockquote>
  <p class="has-line-data" data-line-start="89" data-line-end="90">_We think the number of hop-up types in the game is about as high as we want to go right now when we consider loot dilution and the likelihood of finding a desired hop-up. Going forward, we intend to rotate hop-ups each season – some may be removed from the loot pool to make room for new or returning ones. Below are the changes we’ll be making to hop-ups for Season 3.</p>
  </blockquote>
  <ul>
  <li class="has-line-data" data-line-start="91" data-line-end="92"><strong>REMOVED: Disruptor Rounds</strong></li>
  <li class="has-line-data" data-line-start="92" data-line-end="96"><strong>REMOVED: Skullpiercer Rifling</strong>
  <ul>
  <li class="has-line-data" data-line-start="93" data-line-end="96">The base headshot damage multipliers of the DMR and Wingman have been increased slightly.
  <ul>
  <li class="has-line-data" data-line-start="94" data-line-end="95">Wingman: Was 2.0 base / 2.25 with Skullpiercer. Is now 2.15 base.</li>
  <li class="has-line-data" data-line-start="95" data-line-end="96">DMR: Was 2.0 base / 2.5 with Skullpiercer. Is now 2.15 base.</li>
  </ul>
  </li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="96" data-line-end="100"><strong>NEW HOP-UP:</strong> <strong>Anvil Receiver</strong>
  <ul>
  <li class="has-line-data" data-line-start="97" data-line-end="98">Attaches to: Flatline and R-301.</li>
  <li class="has-line-data" data-line-start="98" data-line-end="99">Rarity: level 4 (gold).</li>
  <li class="has-line-data" data-line-start="99" data-line-end="100">This hop-up empowers semi-auto mode; it offers highly increased damage, but at the cost of reduced rate of fire and double ammo per shot.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="100" data-line-end="105"><strong>NEW HOP-UP:</strong> <strong>Double Tap Trigger</strong>
  <ul>
  <li class="has-line-data" data-line-start="101" data-line-end="102">Attaches to: G7 Scout and EVA-8 Auto.</li>
  <li class="has-line-data" data-line-start="102" data-line-end="103">Rarity: level 3 (purple).</li>
  <li class="has-line-data" data-line-start="103" data-line-end="105">This hop-up makes each trigger pull fire a quick two round burst.</li>
  </ul>
  </li>
  </ul>

  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="Consumables_105"></a>Consumables</strong></h3>
  </div>

  <ul>
  <li class="has-line-data" data-line-start="107" data-line-end="112">Ultimate Accelerants
  <ul>
  <li class="has-line-data" data-line-start="108" data-line-end="110">Ultimate charge restored increased
  <ul>
  <li class="has-line-data" data-line-start="109" data-line-end="110">20% -&gt; 35%.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="110" data-line-end="112">Reduced the amount in the world by around 40%.</li>
  </ul>
  </li>
  </ul>

  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="Golden_Gear_changes_112"></a>Golden Gear changes</strong></h3>
  </div>

  <ul>
  <li class="has-line-data" data-line-start="114" data-line-end="116"><strong>Gold Backpack</strong>
  <ul>
  <li class="has-line-data" data-line-start="115" data-line-end="116">The gold backpack has a new perk, “Guardian Angel”. With Guardian Angel, you will revive downed teammates with bonus health and shields (if they have armor).</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="116" data-line-end="119"><strong>Gold Armor</strong>
  <ul>
  <li class="has-line-data" data-line-start="117" data-line-end="119">The gold armor will now have “Fast Use” (consumable items take half as long to use), which was previously on the gold backpack. Now, you will be able to tell when an opponent has the ability to heal faster by seeing the gold armor damage numbers.</li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="WEAPONS_119"></a>Weapons</strong></h3>
  </div>
  <blockquote>
  <p class="has-line-data" data-line-start="121" data-line-end="122">For Season 3 weapon changes, our goals were to encourage and improve longer range gunfights and reduce power on some of the weapons that have been dominating lately. We will of course be closely watching data and player feedback on these during the season.</p>
  </blockquote>
  <ul>
  <li class="has-line-data" data-line-start="123" data-line-end="128"><strong>R-99</strong>
  <ul>
  <li class="has-line-data" data-line-start="124" data-line-end="127">Base mag size reduction
  <ul>
  <li class="has-line-data" data-line-start="125" data-line-end="126">Before: 18/22/26/30</li>
  <li class="has-line-data" data-line-start="126" data-line-end="127">After: 18/20/23/27</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="127" data-line-end="128">Added some recoil randomness to patterns.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="128" data-line-end="130"><strong>PDW Prowler</strong>
  <ul>
  <li class="has-line-data" data-line-start="129" data-line-end="130">Added some slight recoil randomness while maintaining the same pattern when fired in full-auto mode.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="130" data-line-end="135"><strong>Longbow DMR</strong>
  <ul>
  <li class="has-line-data" data-line-start="131" data-line-end="133">Reduced rate of fire
  <ul>
  <li class="has-line-data" data-line-start="132" data-line-end="133">1.6 -&gt; 1.3</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="133" data-line-end="135">Reduced leg damage multiplier
  <ul>
  <li class="has-line-data" data-line-start="134" data-line-end="135">0.9 -&gt; 0.8</li>
  </ul>
  </li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="135" data-line-end="138"><strong>G7 Scout</strong>
  <ul>
  <li class="has-line-data" data-line-start="136" data-line-end="138">Increased base damage
  <ul>
  <li class="has-line-data" data-line-start="137" data-line-end="138">30 -&gt; 34</li>
  </ul>
  </li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="138" data-line-end="142"><strong>Hemlok</strong>
  <ul>
  <li class="has-line-data" data-line-start="139" data-line-end="141">Increased base damage
  <ul>
  <li class="has-line-data" data-line-start="140" data-line-end="141">18 -&gt; 22</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="141" data-line-end="142">Slight decrease to rate of fire to both fire modes.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="142" data-line-end="145"><strong>Mozambique</strong>
  <ul>
  <li class="has-line-data" data-line-start="143" data-line-end="144">Decreased pattern spread</li>
  <li class="has-line-data" data-line-start="144" data-line-end="145">Mozambique will now reset from recoil faster, which should make it easier to track targets and see where shots land.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="145" data-line-end="151"><strong>L-STAR</strong>
  <ul>
  <li class="has-line-data" data-line-start="146" data-line-end="147">Substantial reduction to horizontal recoil.</li>
  <li class="has-line-data" data-line-start="147" data-line-end="148">Now comes equipped with 1x Digital Threat optic.</li>
  <li class="has-line-data" data-line-start="148" data-line-end="151">Reduced damage
  <ul>
  <li class="has-line-data" data-line-start="149" data-line-end="151">21 -&gt; 19</li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="New_Gold_Weapons_151"></a>New Gold Weapons</strong></h3>
  </div>
  <blockquote>
  <p class="has-line-data" data-line-start="153" data-line-end="154">We’ve swapped out the previous set of Gold Weapons with some fresh new ones for Season 3. Keep an eye out for these fully kitted beasts that all include tier 3 versions of all compatible attachments, hop-up, and the following optics:</p>
  </blockquote>
  <ul>
  <li class="has-line-data" data-line-start="155" data-line-end="157">Flatline
  <ul>
  <li class="has-line-data" data-line-start="156" data-line-end="157">Includes 1x-2x optics</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="157" data-line-end="159">EVA-8
  <ul>
  <li class="has-line-data" data-line-start="158" data-line-end="159">Includes 1x threat scope</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="159" data-line-end="161">TripleTake
  <ul>
  <li class="has-line-data" data-line-start="160" data-line-end="161">4x-10x Threat scope</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="161" data-line-end="163">G7 Scout
  <ul>
  <li class="has-line-data" data-line-start="162" data-line-end="163">2x-4x optics</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="163" data-line-end="166">Charge Rifle
  <ul>
  <li class="has-line-data" data-line-start="164" data-line-end="166">4x-10x threat scope</li>
  </ul>
  </li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="Quality_of_Life_166"></a>Quality of Life</strong></h3>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="168" data-line-end="169">Added a “random” option for customizing your unlocked loadscreens.</li>
  <li class="has-line-data" data-line-start="169" data-line-end="174">Expanded the Ping Wheel so that you can now equip your unlocked Intro and Kill quips.
  <ul>
  <li class="has-line-data" data-line-start="170" data-line-end="171">Equip up to 8 intro or kill quips in the lobby</li>
  <li class="has-line-data" data-line-start="171" data-line-end="172">Nearby enemies can hear quips when activated</li>
  <li class="has-line-data" data-line-start="172" data-line-end="173">Press Y while ping wheel is up to access (controller) or F1 (default keyboard binding – you may need to set this manually as it won’t auto-bind).</li>
  <li class="has-line-data" data-line-start="173" data-line-end="174">“Celebrate” quickchat is now the 1st option in the quip wheel (Previously down on dpad).</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="174" data-line-end="175">New Legend battle chatter - Legends now have voice lines that will call out when your squad is being third-partied. This is triggered if you take damage when recently damaged by another living squad</li>
  <li class="has-line-data" data-line-start="175" data-line-end="176">You can now equip multiple skydive emotes (if you have multiple available on a character) - Hold A while skydiving to open the menu to select the skydive emote you want to use.</li>
  <li class="has-line-data" data-line-start="176" data-line-end="177">Daily challenges should only give you, at most, 1 challenge for a Legend you don’t own.</li>
  <li class="has-line-data" data-line-start="177" data-line-end="178">No dupe character daily challenges (e.g. you should never get 2 Gibraltar dailies in the same day).</li>
  <li class="has-line-data" data-line-start="178" data-line-end="179">Fixes for slowdown/performance drops at the start of a match.</li>
  <li class="has-line-data" data-line-start="179" data-line-end="180">Mirage - decoys will now go where directed when deploying them during the drop if Mirage isn’t the Jumpmaster.</li>
  <li class="has-line-data" data-line-start="180" data-line-end="181">Lifeline - D.O.C. Healing Drone will no longer float away after being deployed on Supply Ships</li>
  <li class="has-line-data" data-line-start="181" data-line-end="182">Fixed issue where Legends could show up as locked instead of selected when joining a match late.</li>
  <li class="has-line-data" data-line-start="182" data-line-end="183">Small improvements across UI to make fonts and other elements more readable.</li>
  <li class="has-line-data" data-line-start="183" data-line-end="185">When swapping weapons with one on the ground, attachments will now attempt to transfer to your stowed weapon in addition to the weapon you are about to pick up.</li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="Bug_Fixes_185"></a>Bug Fixes</strong></h3>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="187" data-line-end="188">Octane - fixed a bug where sometimes mantling while using a tactical stopped players from being able to perform any other actions until the tactical is finished.</li>
  <li class="has-line-data" data-line-start="188" data-line-end="189">Wattson - fixed bug where sometimes the visual FX from her fences would not show up after being deployed.</li>
  <li class="has-line-data" data-line-start="189" data-line-end="190">Pathfinder - Fixed a bug with Insider Knowledge passive where Survey Beacon locations would disappear from the full map after activating them.</li>
  <li class="has-line-data" data-line-start="190" data-line-end="191">Fixed bug where players could sometimes receive additional Battle Pass rewards by leveling up two games in a row.</li>
  <li class="has-line-data" data-line-start="191" data-line-end="192">Fixed an exploit that allowed players to spam fire with the Peacekeeper.</li>
  <li class="has-line-data" data-line-start="192" data-line-end="193">Fixed bug where looting Lifeline’s Care Packages would not count towards the “Loot X amount of Care Packages” in the Battle Pass challenges.</li>
  <li class="has-line-data" data-line-start="193" data-line-end="194">Fixed a bug where sometimes the smoke visual FX from Gibraltar, Bangalore, and Caustic Ultimates would show up on scopes when swapping weapons rapidly.</li>
  <li class="has-line-data" data-line-start="194" data-line-end="195">PC - Fixed bug where model settings would be forced to “high” regardless of what setting was selected.</li>
  <li class="has-line-data" data-line-start="195" data-line-end="196">Fixed a bug where players could sometimes skip the landing animation after a long fall.</li>
  <li class="has-line-data" data-line-start="196" data-line-end="197">Fixed bug where sometimes map fog visual FX would disappear while looting a deathbox.</li>
  <li class="has-line-data" data-line-start="197" data-line-end="199">Rebalanced audio to address issues with footsteps, ziplines, and jump jets.</li>
  </ul>
  <div class="item item--full-width relative item--patch-notes-banner item--patch-notes-banner-season-3 item--patch-notes-banner-left mt-80 mb-40">
    <h3><strong><a id="Ranked_League_Series_2_199"></a>Ranked League Series 2</strong></h3>
  </div>
  <ul>
  <li class="has-line-data" data-line-start="201" data-line-end="202">Rewards for your placement in Ranked Leagues Series 1 will be available to you after downloading the update for Season 3.</li>
  <li class="has-line-data" data-line-start="202" data-line-end="203">We’ve adjusted the scoring for Series 2 that allows for more granularity for future improvements.</li>
  <li class="has-line-data" data-line-start="203" data-line-end="204">At the launch of Series 2 on 10/1 we’ll be doing a soft reset on everyone Ranked Position from Series 1. The reset will be 1.5 tiers. That means if you ended Series 1 in Gold II, you’ll be reset to Silver IV. Players in Platinum IV will be reset to Silver II, and Apex Predators will be reset to Platinum II.</li>
  <li class="has-line-data" data-line-start="204" data-line-end="205">Assists have been added to your overall score.</li>
  <li class="has-line-data" data-line-start="205" data-line-end="206">New HUD elements have been added to help players keep track of their in-match RP gains or losses.</li>
  <li class="has-line-data" data-line-start="206" data-line-end="207">Leaver Penalty: Players who abandon their teammates will be hit with a matchmaking penalty in both regular and Ranked matches. Penalties will result in a player being barred from joining a match for escalating amounts of time based on how often they have abandoned in Ranked. An abandon is defined as leaving the game before the match is over for you; this includes leaving during character select, leaving while you are alive, and leaving when you are dead but can still be respawned by teammates. Penalty times start out at five minutes, and repeat abandons will increase that time up to a week</li>
  </ul>
</div>
