<% content_for :page_title, "Patch Notes - 5.20.2019 - Patch of Apex Legends" %>

<div class="wrapper wrapper--small no-text-transform">
  <div class="heading">
    <h2 class="heading__title">Patch Notes</h2>
  </div>

  <h3 class="title-small relative">
    5.20.2019 - Patch Notes

    <nav class="scroll-spy" data-role="scroll-spy">
      <%= link_to "Audio Fixes and Improvements", "#audio_fixes_0", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Performance", "#Performance", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Quality of Life", "#Quality_of_Life", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Bug Fixes", "#Bug_Fixes", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Hit Detection Fixes & Improvements", "#hit_detection", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Fix for Lifeline banner bug on PS4", "#fix_lifeline", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Crashes Specific to Intel CPUs", "#crashes_intel", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Additional Bug Fixes and Changes", "#additional_bug_fixes", class: "scroll-spy__item scroll-spy__item--large" %>
    </nav>
  </h3>

  <blockquote>
    Hey all, we have a patch scheduled to go live early next week. We’ll do a follow up post when we’ve confirmed it’s available for download on all platforms and in the meantime, below are the patch notes with some dev context:
  </blockquote>

  <h3 class="mt-80"><a data-scroll-spy id="audio_fixes_0"></a>Audio Fixes and Improvements</h3>
  <blockquote>
    <p>One of our biggest issues to tackle was improving the audio performance to address issues reported of sounds dropping out, sounds missing for extended time, or distortion for a period of time. We have made improvements both in our code and with our content that will hopefully fix these issues for many players, and for others, at least lower the amount and length of time they encounter audio issues.</p>
    <p>We have also addressed some of the other mix issues with the game, including increasing the volume of close proximity enemy footsteps and lowering the overall volume of the game from the character select screen to the end of the drop sequence. We will continue to monitor mix issues and address them as necessary. Below are the notes of improvements we’ve included in today’s patch and we’re continuing to work on future improvements.</p>
  </blockquote>

  <h3 class="mt-80"><a data-scroll-spy id="Performance"></a>Performance</h3>
  <ul>
    <li><strong>Improved audio engine</strong> to be around 30% more CPU efficient, lessening the chance of distortion or dropouts.</li>
    <li>Lowered impact on data loading through code and content changes to <strong>improve potential dropout issues</strong>.</li>
  </ul>

  <h3 class="mt-80"><a data-scroll-spy id="Quality_of_Life"></a>Quality of Life</h3>
  <ul>
    <li><strong>Lowered the master volume</strong> of all sounds during the character select screen through the end of the drop sequence.</li>
    <li><strong>Lowered the volume of Wraith's ambient kunai knife sound</strong> for those who are sensitive to the sound. If it is still bothersome we will remove it in a later patch.</li>
    <li><strong>Increased the volume</strong> of close proximity <strong>enemy footsteps</strong> for all Legends.</li>
    <li>Increased the priority of enemy footsteps to ensure the sounds play even in heavy combat situations.</li>
    <li>Slightly lowered the volume of Pathfinder footstep sounds heard from the first person view.</li>
    <li><strong>Fixed missing or quiet dryfire</strong> (out of ammo trigger click sound) and low ammo (the progressive change in sound that the gun makes as the magazine approaches empty) sounds for the R301, Hemlok, Flatline and RE45.</li>
    <li>Increased the volume of the music that plays when winning a match.</li>
    <li>Added more detailed audio to the Training mission.</li>
  </ul>

  <h3 class="mt-80"><a data-scroll-spy id="Bug_Fixes"></a>Bug Fixes</h3>
  <ul>
    <li>Fixed occlusion bug for the "wind down" sound for the Havoc.</li>
    <li>Fixed issue with automatic weapon fire sounds occasionally getting stuck on, usually after a Legend respawns.</li>
    <li>Fixed bug with <strong>RE45 missing tail sounds</strong> (the echo in the environment after the shot) when in close proximity.</li>
  </ul>

  <h3 class="mt-80"><a data-scroll-spy id="hit_detection"></a>Hit Detection Fixes and Improvements</h3>
  <blockquote>
    <p>As we talked about last week, in this patch we’ve pushed some fixes that should eliminate many cases of incorrect hit registration. This patch also includes some behind-the-scenes tracking of bullet damage logic. We expect there will still be some remaining hit registration problems, but with these fixes and diagnostic information, we are better equipped to track them down.</p>

    <p>One potential cause of hit registration bugs can be simple internet connection problems. In order to determine how much of a factor this is in reality, we have put some time into refining the functionality behind our network problem indicator icons in the upper right of the screen. These icons are now pickier about your connection quality and may show up more frequently than they did before. These icon changes will be useful for us in narrowing down the cause of any bugs that we continue to see. Please continue to share videos and report hit registration issues you still encounter after the patch.</p>
  </blockquote>

  <h3 class="mt-80"><a data-scroll-spy id="fix_lifeline"></a>Fix for Lifeline "Pick me up" banner bug on PS4</h3>
  <ul>
    <li>
      The issue has been resolved and we will be re-enabling the banner after the patch is live.

      <ul>
        <li><strong>NOTE</strong>: We made changes to client and backend to address this and it’ll take a little time to take full effect. We’re expecting the error to resolve within a few hours after the patch is live.</li>
      </ul>
    </li>
  </ul>

  <h3 class="mt-80"><a data-scroll-spy id="crashes_intel"></a>Crashes Specific to Intel CPUs</h3>
  <blockquote>
    <p>We investigated the crash reports from many people who were crashing frequently and found that Intel CPUs sometimes were not executing the instructions properly in one particular function. A common example was an instruction that only reads a register crashed on writing to invalid memory. With the help of many forum users, we found that lowering the clock speed always fixed the crashes, even if the CPU wasn't overclocked or overheating. Thanks everyone, with a big shout out to Falkentyne, TEZZ0FIN0, JorPorCorTTV and MrDakk!</p>

    <p>This has been by far the most commonly reported PC crash over the last month or so and we’ve notified Intel about the issue. In the meantime, we’ve put a workaround in this patch to avoid the crashing at your original clock speeds just by changing the instructions used by that one function. Please continue to send your crash logs to our forums so we can analyze and fix any issues you encounter!</p>
  </blockquote>

  <h3 class="mt-80"><a data-scroll-spy id="additional_bug_fixes"></a>Additional Bug Fixes and Changes</h3>
  <ul>
    <li>Fixed issue with the <strong>Fortified Passive ability for Gibraltar and Caustic</strong> where they would take damage through shields.</li>
    <li>
      Fixed the bug that allowed players to <strong>stick objects to Gibraltar’s Gun Shield</strong>.

      <ul>
        <li>Admittedly it’s been fun to see the results of this but the behavior is not intended by design and could get out of control. Items will no longer stick to Gibraltar’s Gun Shield, however, it will now deflect Arc Stars.</li>
      </ul>
    </li>
    <li>We have identified some <strong>issues with -novid</strong>, and will be <strong>disabling</strong> the flag until we can address the issues. Thank you for your patience.</li>
  </ul>
</div>
