<% content_for :page_title, "1.2 Patch Notes - 6.5.2019 - Patch of Apex Legends" %>

<div class="wrapper wrapper--small no-text-transform">
  <div class="heading">
    <h2 class="heading__title">Patch Notes</h2>
  </div>

  <h3 class="title-small relative">
    6.5.2019 - 1.2 Patch Notes

    <nav class="scroll-spy" data-role="scroll-spy">
      <%= link_to "Audio Fixes and Improvements", "#audio_fixes_0", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Apex Elite Queue", "#Apex_Elite_Queue_2", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Legendary Skins", "#Two_Additional_Legendary_Skins_for_all_Battle_Pass_Owners_11", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Legendary Hunt Challenge", "#Legendary_Hunt_Challenge_Rewards_16", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Battle Pass Bonus XP", "#Battle_Pass_Bonus_XP_27", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Double XP Weekend", "#Double_XP_Weekend_33", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Legendary Skins", "#Legendary_Hunt_Store_Skins_39", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "1.2 Patch Notes", "#PATCH_NOTES_45", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Known Issues", "#KNOWN_ISSUES_48", class: "scroll-spy__item" %>
    </nav>
  </h3>

  <p><strong>New limited time event: The Legendary Hunt</strong></p>
  <h3><a data-scroll-spy id="Apex_Elite_Queue_2"></a>Apex Elite Queue</h3>
  <p><em>June 4 – July 2</em></p>
  <p>Make it to the Top 5 in any match, and earn your way into a select queue full of Top 5 winners. Then prove you’re the best of the best by taking them all down!</p>
  <ul>
  <li>The queue is optional. You can choose to play in the regular playlist at any time.</li>
  <li>The Ring closes faster and damage for out of bounds has been increased.</li>
  <li>Earn character specific badges that track Elite game wins.</li>
  </ul>
  <h4><a data-scroll-spy id="Two_Additional_Legendary_Skins_for_all_Battle_Pass_Owners_11"></a>Two Additional Legendary Skins for all Battle Pass Owners</h4>
  <ul>
  <li>Players who have the Wild Frontier Battle Pass will automatically get the Legendary Honored Prey R-301 skin.</li>
  <li>Players who reach Battle Pass level 15 before the end of the event will get the Wraith Night Terror Legendary skin.</li>
  </ul>
  <h4><a data-scroll-spy id="Legendary_Hunt_Challenge_Rewards_16"></a>Legendary Hunt Challenge Rewards</h4>
  <p><em>June 4 – June 18</em></p>
  <p>Complete special in-game challenges to score free Legendary Hunt loot! Don’t lose sight of your prey – these rewards are <strong>event exclusive</strong>, and once it’s over, they’re gone for good.</p>
  <ul>
  <li><strong>Legendary Hunt Badge</strong> – Finish in the Top 5 in any match. Tracks your longest Top 5 streak in the Elite Queue.</li>
  <li><strong>Rare Wolfpack G7 Scout weapon skin</strong> – Finish in the Top 5 in an Apex Elite match.</li>
  <li><strong>Epic Master of the Hunt Bloodhound Legend skin</strong> – Finish in the Top 5 in any queue five times (consecutive or nonconsecutive).</li>
  <li><strong>Legendary Tamed Beast Triple Take weapon skin</strong> – Win twice in any queue (consecutive or nonconsecutive).</li>
  </ul>
  <h4><a data-scroll-spy id="Battle_Pass_Bonus_XP_27"></a>Battle Pass Bonus XP</h4>
  <p><em>June 4 – June 18</em></p>
  <p>Earn an entire Battle Pass level when you finish in the Top 5 in any match (once per day).</p>
  <h4><a data-scroll-spy id="Double_XP_Weekend_33"></a>Double XP Weekend</h4>
  <p><em>Friday June 7 at 10:00 a.m. PT – Monday June 10 at 10:00 a.m. PT</em></p>
  <p>Score double level XP and Battle Pass XP all weekend long! Does not include the Battle Pass level earned from finishing in the Top 5 each day.</p>
  <h4><a data-scroll-spy id="Legendary_Hunt_Store_Skins_39"></a>Legendary Hunt Store Skins</h4>
  <p><em>June 4 – June 18</em></p>
  <p>New Legendary Hunt items will rotate into the shop every three to four days – these items are <strong>event limited</strong>, so they may be back, but no one can say when.</p>
  <h3 class="top-offset"><a data-scroll-spy id="PATCH_NOTES_45"></a>1.2 PATCH NOTES</h3>
  <h4><a data-scroll-spy id="KNOWN_ISSUES_48"></a>Known Issues</h4>
  <p>“Teamwork” and “Bonus Round” Badges</p>
  <ul>
  <li>We are working on a server side patch for these ASAP.</li>
  </ul>
  <p>Playstation sign in bug for new players</p>
  <ul>
  <li><strong><em>[affects Playstation only]</em></strong> There is an issue with some brand new players that do not already have an EA account linked to PSN being unable to sign into the game. We’re working a fix for this to get out ASAP.<p><strong>KINGS CANYON UPDATES</strong></p>
  </li>
  <li>Thunderdome has had some small changes to loot placement, mostly around moving loose loot into bins for more visibility on where the loot is.</li>
  <li>The Pit has about 2x the loot in it</li>
  <li>Repulsor has loot bins added to the west side of the area, on top of the trapezoid buildings.</li>
  <li>Some loot added to the underground pit in the small town in Shattered Forest.</li>
  <li>Added voice over lines that will callout Jump Towers when you ping them. You can now ping the jump towers.</li>
  </ul>
  <p><strong>Quality of Life / Bug fixes</strong></p>
  <ul>
  <li>Decreased the delay with items showing up in the menu when looting a Death Box.</li>
  <li>Mini Map direction will now display correctly while in the ship or skydiving.</li>
  <li>Improved server performance for some cases of rubberbanding when using items.</li>
  <li>Removed an exploit that allowed a squad to have more than one of the same Legend.</li>
  <li>Removed an exploit that allowed to “bunny hop” while healing.</li>
  <li>Fixed issue where players might “bounce” off your squad when breaking off during a skydive.</li>
  <li>Improved skydiving so it should feel more responsive and smooth.</li>
  <li>Thermite grenades now cause damage to doors.</li>
  <li>Squad Summary Page Improvements<ul>
  <li>cursor support added.</li>
  <li>players can now mute / report players from this page.</li>
  <li>players can now report teammates that have disconnected.</li>
  </ul>
  </li>
  <li>Caustic barrels can now be triggered to disabled by friendly teammates.</li>
  <li>[Xbox and PS4 only] Added ability to fully customize button layout for controllers.</li>
  <li>Added cooldown [.5 seconds] before you can reuse the last zipline you were on.</li>
  <li>Pathfinder’s Grapple now has a blue crosshair indicator that will appear when the Grapple is in range of objects it can connect to.</li>
  <li>When grappling a zipline, the trajectory will now pull players to a point below the zipline rather than above. This makes it so players are more likely to connect with the zipline instead of flying over it.</li>
  <li>Made improvements to how weapon reticles and optics are displayed when playing with colorblind settings.</li>
  <li>Added colorblind support for threat vision scope and Bloodhound’s Ultimate.</li>
  <li>Removed the ability for players to change game settings not intended to be modified on a client level. Our intent is to prevent exploits like removing muzzle flash, disabling lighting, and other changes that give players an unfair competitive advantage.</li>
  <li>We’ve reverted the behavior of “Holster Weapons” so pressing that button while your melee weapon is out will no longer bring out your last primary weapon.</li>
  <li>[Xbox and PS4 only] Added ability to fully customize button layout for controllers.</li>
  <li>Added localized voice overs for all Legends that now supports:<ul>
  <li>French</li>
  <li>German</li>
  <li>Spanish</li>
  <li>Italian</li>
  <li>Russian</li>
  <li>Polish</li>
  <li>Japanese</li>
  <li>Mandarin</li>
  </ul>
  </li>
  <li>Fixed an issue where a player is unable to change their Party Privacy option.</li>
  <li>Fixed the extra sway from the G7 crosshair while moving.</li>
  <li>Fixed bug where cloaked Mirage was too noticeable.</li>
  <li>Fixed a rare issue with using consumables while having a Caustic gas canister out.</li>
  <li>Fixed an issue where shield cells and shield batteries would sometimes appear to be permanently stuck to the player.</li>
  <li>Improved framerate when Sun shadow coverage is set High in Video options.</li>
  <li>Fixed issue with the Long Distance Kill Badge not displaying the correct max distance.</li>
  <li>Fixed issue with bad framerate when using Bloodhound’s Ultimate.</li>
  <li>Fixed players being crushed by opening or closing doors when climbing onto a roof just above the door.</li>
  <li>Fixed a crash related to model code.</li>
  <li>Fixed issue where player would crawl very fast in place.</li>
  <li>Fixed some rare cases of players getting stuck in geometry.</li>
  <li>Fixed issue where Octane’s Stim trail would still linger after death.</li>
  <li>Fixed cases where melee lunges could stop too far from their intended target.</li>
  <li>Fixed issue with players not receiving any XP for anything after a match and the Champion Bonus showing as -1XP.</li>
  <li>Fixed an issue where sometimes the audio and visual effects would not play when a weapon fires.</li>
  <li>Lots of minor fixes and polish to game stability and performance.</li>
  </ul>
</div>
