<% content_for :page_title, "Patch Notes - 7.2.2019 - Season 2 Patch of Apex Legends" %>

<style>
  body { background-image: url(<%= image_path("patch-notes/gradientbg-xs.png") %>) }
  @media (min-width: 480px) { body { background-image: url(<%= image_path("patch-notes/gradientbg-sm.png") %>) }}
  @media (min-width: 960px) { body { background-image: url(<%= image_path("patch-notes/gradientbg.png") %>) }}
</style>

<div class="wrapper wrapper--medium no-text-transform">
  <center class="top-offset"><%= image_tag "patch-notes/apex-season-2-white-logo.png", alt: "Apex Legends Season 2" %></center>

  <div class="no-text-transform top-offset">
    <article class="item item--full-width relative item--patch-notes-banner">
      <div>
        <%= image_tag "patch-notes/wattson.png", alt: "Wattson", class: "pin-l pin-b absolute" %>
      </div>


      <h3>New Legend: <strong>Wattson</strong>&nbsp;&nbsp;&nbsp;</h3>

      <%= link_to "Find out more", legend_show_path("wattson"), class: "button-alternative button-alternative--primary button-alternative--huge" %>
    </article>
  </div>
</div>

<div class="wrapper wrapper--small no-text-transform top-offset">
  <h2>Patch Notes</h2>

  <h4 class="title-small">7.2.2019 - Season 2: Wild Frontier</h4>

  <div class="relative">
    <nav class="scroll-spy" data-role="scroll-spy">
      <%= link_to "Battle Pass", "#Battle_Pass_4", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Challenges", "#Challenges_9", class: "scroll-spy__item" %>
      <%= link_to "New Content Types", "#New_Content_Types_12", class: "scroll-spy__item" %>
      <%= link_to "More Loot", "#More_Loot_15", class: "scroll-spy__item" %>
      <%= link_to "Free Rewards", "#Free_Rewards_18", class: "scroll-spy__item" %>
      <%= link_to "Kings Canyon", "#Kings_Canyon_27", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Wattson", "#New_Legend_Wattson_33", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Ranked Leagues", "#Ranked_Leagues_46", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Weapons", "#Weapons_54", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "L-Star", "#LStar_EMG_56", class: "scroll-spy__item" %>
      <%= link_to "Disruptor Rounds", "#New_HopUp_Disruptor_Rounds_62", class: "scroll-spy__item" %>
      <%= link_to "Hammerpoint Rounds", "#New_HopUp_Hammerpoint_Rounds_66", class: "scroll-spy__item" %>
      <%= link_to "Energy Mags", "#New_Attachments_Energy_Mags_70", class: "scroll-spy__item" %>
      <%= link_to "Skullpiercer", "#Skullpiercer_HopUp_Upgraded_to_gold_tier__increased_rarity_76", class: "scroll-spy__item" %>
      <%= link_to "Flatline", "#Flatline_78", class: "scroll-spy__item" %>
      <%= link_to "P2020", "#P2020_82", class: "scroll-spy__item" %>
      <%= link_to "Triple Take", "#Triple_Take_x_Precision_Choke_86", class: "scroll-spy__item" %>
      <%= link_to "Alternator", "#Alternator_90", class: "scroll-spy__item" %>
      <%= link_to "Kraber", "#Kraber_95", class: "scroll-spy__item" %>
      <%= link_to "Havoc", "#Havoc_95", class: "scroll-spy__item" %>
      <%= link_to "Devotion", "#Devotion_95", class: "scroll-spy__item" %>
      <%= link_to "Arc Stars", "#Arc_Star_Tweaks_102", class: "scroll-spy__item" %>
      <%= link_to "Ammo Stack Sizes", "#Ammo_Stack_Sizes_108", class: "scroll-spy__item" %>
      <%= link_to "Gold Weapons", "#Rotated_Gold_Weapons_113", class: "scroll-spy__item" %>
      <%= link_to "Airdrop Weapons", "#Airdrop_Weapon_Spawn_Rates_121", class: "scroll-spy__item" %>
      <%= link_to "Performance", "#Performance_Optimizations_126", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Legend Changes", "#General_136", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Bloodhound", "#Bloodhound_143", class: "scroll-spy__item" %>
      <%= link_to "Mirage", "#Mirage_152", class: "scroll-spy__item" %>
      <%= link_to "Caustic", "#Caustic_157", class: "scroll-spy__item" %>
      <%= link_to "Gibraltar", "#Gibraltar_161", class: "scroll-spy__item" %>
      <%= link_to "Pathfinder", "#Pathfinder_165", class: "scroll-spy__item" %>
      <%= link_to "Lifeline", "#Lifeline_169", class: "scroll-spy__item" %>
      <%= link_to "Stats Page", "#Stats_Page_173", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "The Ring", "#The_Ring_179", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Quality of Life", "#Quality_of_Life_219", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Bug Fixes", "#Bug_Fixes_248", class: "scroll-spy__item scroll-spy__item--large" %>
    </nav>
  </div>

  <blockquote>
    <p>Happy Season 2 Day! The update is now starting to roll out on all platforms. It’s a big one so go ahead and get it started and while you’re waiting, below is breakdown of what comes with the Season 2 Battle Pass. If you’re all caught up you can skip down to the <strong>Patch Notes</strong> section to read through all the changes including balancing for Legends and Weapons, new hopups, lots of bug fixes and quality of life improvements and…a stats page!</p>
  </blockquote>


  <h3 class="top-offset">
    <a data-scroll-spy id="Battle_Pass_4"></a>
    Battle Pass</h3>
  <ul>
      <li><a href="https://www.ea.com/games/apex-legends/battle-pass"><strong>Check out Season 2 page and FAQ here.</strong></a>
      </li>
  </ul>
  <p>To get the Battle Pass, jump into Apex Legends and head to the Battle Pass tab in the store. Grab the Battle Pass for 950 Apex Coins or the Battle Pass Bundle for 2,800 Apex Coins (containing 4,700 Apex Coins’ worth of content!), and you’re all set.</p>

  <h4 class="mb-0">
    <a data-scroll-spy id="Challenges_9"></a>
    Challenges</h4>
  <p>Take on Daily and Weekly Challenges to score bonus Battle Pass XP and level up even faster. Read more here.</p>

  <h4 class="mb-0">
    <a data-scroll-spy id="New_Content_Types_12"></a>
    New Content Types</h4>
  <p>Skydive emotes, music packs, and unique loading screens are now part of the rewards track.</p>

  <h4 class="mb-0">
    <a data-scroll-spy id="More_Loot_15"></a>
    More Loot</h4>
  <p>Grab even more Legendary skins from the reward track and earn enough Crafting Materials to create a Legendary item of your choice.</p>

  <h4 class="mb-0">
    <a data-scroll-spy id="Free_Rewards_18"></a>
    Free Rewards</h4>
  <p>Everyone who plays Apex Legends Season 2 can earn:</p>
  <ul>
      <li>Season 2 stat trackers for each Legend.</li>
      <li>Five Apex Packs.</li>
      <li>The Wattson Hot Rod skin.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Kings_Canyon_27"></a>
    Kings Canyon</h3>
  <p>The Leviathans have breached Kings Canyon and it’ll never be the same! Many areas have been affected by our new guests. Enjoy exploring the new changes!</p>

  <h3 class="top-offset">
    <a data-scroll-spy id="New_Legend_Wattson_33"></a>
    New Legend: <strong>Wattson</strong></h3>
  <p><em>Wattson has entered the arena and is available for 750 Apex Coins or 12,000 Legend Tokens.</em></p>
  <div class="items">
    <article class="item item--full-width">
      <div class="item__content item__content--same-height legend">
        <div class="legend__intro" style="padding: 0;">
          <div class="legend__lore">
            <div class="item__title heading heading--small">

              <h3 class="heading__title">Static Defender</h3>
              <div class="heading__line"></div>
            </div>
          </div>
          <div class="columns columns__about">
            <div class="columns__column">
              <div class="item__full-width-info item__full-width-info--large">
                <span class="color-basic">Real name</span>
                <small class="no-text-transform">Natalie Paquette</small>
              </div>
              <div class="item__full-width-info item__full-width-info--large">
                <span class="color-basic">Age</span>
                <small class="no-text-transform">22</small>
              </div>
              <div class="item__full-width-info item__full-width-info--large">
                <span class="color-basic">Home world</span>
                <small class="no-text-transform">Solace</small>
              </div>
            </div>
            <div class="columns__column">
              <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
                <%= image_tag "legends/wattson/ability_1.png" %>
                <div>
                  <span class="color-basic">Stim</span>
                  <small class="no-text-transform">Create electrified fences by connecting nodes. Fences damage and slow enemies.</small>
                </div>
              </div>
              <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
                <%= image_tag "legends/wattson/ability_2.png" %>
                <div>
                  <span class="color-basic">Swift Mend</span>
                  <small class="no-text-transform">Ultimate Accelerants fully charge Wattson’s ultimate. Standing near the Interception Pylon boosts Wattson’s tactical recharge rate.</small>
                </div>
              </div>
              <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
                <%= image_tag "legends/wattson/ability_3.png" %>
                <div>
                  <span class="color-basic">Interception Pylon</span>
                  <small class="no-text-transform">Place an electrified pylon that destroys incoming ordnance and repairs damaged shields [can place up to 3 Pylons at one time].</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

  <center><%= link_to "More data on Wattson", legend_show_path("wattson"), class: "button-alternative button-alternative--primary" %></center>


  <h3 class="top-offset">
    <a data-scroll-spy id="Ranked_Leagues_46"></a>
    Ranked Leagues</h3>
  <blockquote>One thing we forgot to mention in the blog post: Players abandoning in Ranked will be penalized both with a matchmaking penalty, as well as have any potential RP gains zeroed out. On top of that, they will pay an additional penalty RP cost equal to their match entry cost. For example: if a Gold player gets 4 kills and would have finished top 5 but abandons his or her match on purpose, that player will get 0 RP for kills and placement, pay the 2 RP entry cost, and on top of that pay another 2 RP abandon penalty cost.</blockquote>

  <h3 class="top-offset">
    <a data-scroll-spy id="Weapons_54"></a>
    Weapons</h3>

  <h4 class="mb-40">
    <a data-scroll-spy id="LStar_EMG_56"></a>
    L-Star EMG</h4>
  <%= image_tag "weapons/jpg/l-star.jpg", class: "w-100" %>
  <ul>
      <li>Fires large high-damage plasma projectiles</li>
      <li>Will overheat if player fires for too long</li>
      <li>Comes with its own limited ammo supply</li>
      <li>Only available in Airdrops</li>
  </ul>

  <%= link_to "More data on the L-Star", where_path("name", "l-star"), class: "button-alternative button-alternative--primary" %>

  <h4 class="mb-0">
    <a data-scroll-spy id="New_HopUp_Disruptor_Rounds_62"></a>
    New Hop-Up: Disruptor Rounds</h4>
  <ul>
      <li>Increased damage to shielded targets.</li>
      <li>Compatibility: Alternator / RE-45</li>
  </ul>

  <h4 class="mb-0">
    <a data-scroll-spy id="New_HopUp_Hammerpoint_Rounds_66"></a>
    New Hop-Up: Hammerpoint Rounds</h4>
  <ul>
      <li>Increased damage to unshielded targets.</li>
      <li>Compatibility: P2020, Mozambique.</li>
  </ul>

  <h4 class="mb-0">
    <a data-scroll-spy id="New_Attachments_Energy_Mags_70"></a>
    New Attachments: Energy Mags</h4>
  <ul>
      <li>Increases magazine capacity.</li>
      <li>Increases reload speed at rare and above.</li>
      <li>Compatibility: Havoc, Triple Take, Devotion.</li>
      <li>Reduced default mag sizes on compatible weapons.</li>
  </ul>


  <h4 class="mb-0">
    <a data-scroll-spy id="Skullpiercer_HopUp_Upgraded_to_gold_tier__increased_rarity_76"></a>
    Skullpiercer Hop-Up</h4>
  <p>Upgraded to gold tier &amp; increased rarity</p>


  <h4 class="mb-40">
    <a data-scroll-spy id="Flatline_78"></a>
    Flatline</h4>

  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/flatline.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">Flatline</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">19 <small>▲ +3</small></h4>
        </div>

        <div class="item--table__item">
          <small>Headshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">38 <small>▲ +6</small></h4>
        </div>

        <div class="item--table__item">
          <small>Legshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">14 <small>▲ +2</small></h4>
        </div>

        <div class="item--table__item">
          <small>DPS</small> <br>
          <h4 class="item--table__item-title compare-higher">190 <small>▲ +30</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>damage <strong>16</strong> -&gt; <strong>19</strong></li>
  </ul>

  <h4 class="mb-40">
    <a data-scroll-spy id="P2020_82"></a>
    P2020</h4>

  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/p2020.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">P2020</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">13 <small>▲ +1</small></h4>
        </div>

        <div class="item--table__item">
          <small>Headshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">19.5 <small>▲ +1.5</small></h4>
        </div>

        <div class="item--table__item">
          <small>Legshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">11.7 <small>▲ +0.9</small></h4>
        </div>

        <div class="item--table__item">
          <small>DPS</small> <br>
          <h4 class="item--table__item-title compare-higher">91 <small>▲ +7</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>damage <strong>12</strong> -&gt; <strong>13</strong></li>
  </ul>

  <h4 class="mb-40">
    <a data-scroll-spy id="Triple_Take_x_Precision_Choke_86"></a>
    Triple Take x Precision Choke</h4>

  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/triple_take.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">Triple Take</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Choke Charge Time</small> <br>
          <h4 class="item--table__item-title compare-higher">1.1 <small>▼ -0.4</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>Choke time <strong>1.5</strong> -&gt; <strong>1.1</strong></li>
  </ul>

  <h4 class="mb-40">
    <a data-scroll-spy id="Alternator_90"></a>
    Alternator</h4>
  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/alternator.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">Alternator</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">15 <small>▲ +2</small></h4>
        </div>

        <div class="item--table__item">
          <small>Headshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">22.5 <small>▲ +3</small></h4>
        </div>

        <div class="item--table__item">
          <small>Legshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">12 <small>▲ +1.6</small></h4>
        </div>

        <div class="item--table__item">
          <small>DPS</small> <br>
          <h4 class="item--table__item-title compare-higher">150 <small>▲ +20</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>damage <strong>13</strong> -&gt; <strong>15</strong></li>
      <li>recoil mitigation increased for all barrel attachments.</li>
  </ul>

  <h4 class="mb-40">
    <a data-scroll-spy id="Kraber_95"></a>
    Kraber</h4>
  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/kraber.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">Kraber</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">145 <small>▲ +20</small></h4>
        </div>

        <div class="item--table__item">
          <small>Headshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">297.25 <small>▲ +47.25</small></h4>
        </div>

        <div class="item--table__item">
          <small>Legshot Damage</small> <br>
          <h4 class="item--table__item-title compare-higher">110.2 <small>▲ +1.6</small></h4>
        </div>

        <div class="item--table__item">
          <small>DPS</small> <br>
          <h4 class="item--table__item-title compare-higher">145 <small>▲ +20</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>damage <strong>125</strong> -&gt; <strong>145</strong></li>
      <li>headshot scale <strong>2.0</strong> -&gt; <strong>2.05</strong></li>
      <li>leg damage scale <strong>0.76</strong> -&gt; <strong>0.8</strong></li>
      <li>slightly increased rarity</li>
  </ul>

  <h4 class="mb-40">
    <a data-scroll-spy id="Havoc_95"></a>
    Havoc</h4>
  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/havoc.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">Havoc</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Ammo Capacity</small> <br>
          <h4 class="item--table__item-title compare-lower">24 <small>▼ -8</small></h4>
        </div>

        <div class="item--table__item">
          <small>Damage Per Mag</small> <br>
          <h4 class="item--table__item-title compare-lower">432 <small>▼ -144</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>Decreased Ammo Capacity</li>
  </ul>

  <h4 class="mb-40">
    <a data-scroll-spy id="Devotion_95"></a>
    Devotion</h4>
  <div class="item item--table">
    <div class="item--table__icon-wrapper">
      <%= image_tag "weapons/icons/devotion.png", class: "item--table__icon" %>
    </div>

    <div class="item--table__content">
      <h4 class="item--table__title">Devotion</h4>

      <div class="item--table__info">
        <div class="item--table__item">
          <small>Ammo Capacity</small> <br>
          <h4 class="item--table__item-title compare-lower">36 <small>▼ -8</small></h4>
        </div>

        <div class="item--table__item">
          <small>Damage Per Mag</small> <br>
          <h4 class="item--table__item-title compare-lower">612 <small>▼ -136</small></h4>
        </div>
      </div>
    </div>
  </div>

  <ul>
      <li>Decreased Ammo Capacity</li>
  </ul>

  <h4 class="mb-0">
    <a data-scroll-spy id="Arc_Star_Tweaks_102"></a>
    Arc Star Tweaks</h4>
  <ul>
      <li>Increased ignition delay from 2.5 to 2.8 seconds.</li>
      <li>Sticking a full health player with no armor will now down them.</li>
      <li>Players at the edge of the explosion no longer get their shields completely shredded.</li>
  </ul>

  <h4 class="mb-0">
    <a data-scroll-spy id="Ammo_Stack_Sizes_108"></a>
    Ammo Stack Sizes</h4>
  <ul>
      <li>Shotgun max stack reduced from 64 to 16. Players now need multiple stacks of ammo to run a shotty.</li>
      <li>Energy max stack increased from 60 to 80; now matches Light/ Heavy ammo.</li>
  </ul>

  <h4 class="mb-0">
    <a data-scroll-spy id="Rotated_Gold_Weapons_113"></a>
    Rotated Gold Weapons</h4>
  <ul>
      <li>Flatline</li>
      <li>Alternator</li>
      <li>RE45</li>
      <li>Mozambique</li>
      <li>P2020</li>
  </ul>

  <h4 class="mb-0">
    <a data-scroll-spy id="Airdrop_Weapon_Spawn_Rates_121"></a>
    Airdrop Weapon Spawn Rates</h4>
  <ul>
      <li>L-STAR added to airdrop weapon loot tables.</li>
      <li>Airdrop weapon spawn rates now change based on early/ mid/ late game. For example, early game will spawn more Krabers, end game will spawn more Mastiffs.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Performance_Optimizations_126"></a>
    Performance Optimizations</h3>
  <ul>
      <li>Improved performance when firing weapons, especially for multi-projectile weapons like shotguns and Triple Take.</li>
      <li>In our testing this has contributed to delivering a smoother overall experience on both server and client, particularly during early game combat situations.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="General_136"></a>
    Legend Changes</h3>
  <ul>
      <li><strong>Fortified [ Gibraltar, Caustic ]</strong>
          <ul>
              <li>Damage reduction increased: 10% -&gt; 15%</li>
              <li>Fortified Legends are now immune to slow effects from weapon fire.</li>
          </ul>
      </li>
      <li><strong>Low Profile [ Wraith, Lifeline, Pathfinder ]</strong>
          <ul>
              <li>Low Profile increases incoming damage by 5%.</li>
          </ul>
      </li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Bloodhound_143"></a>
    Bloodhound</h3>
  <ul>
      <li><strong>Eye of the Allfather</strong>
          <ul>
              <li>Enemies scanned now are tracked in real time instead of leaving a ghost image behind. The tracking lasts for 1.5 seconds.</li>
              <li>Increased the angle of the scan to 110 from 90.</li>
          </ul>
      </li>
      <li><strong>Tracker</strong>
          <ul>
              <li>Increased clue duration to 90 seconds from 60 seconds.</li>
              <li>Fixed a bug where energy weapons wouldn’t leave behind weapon fired clues.</li>
              <li>Fixed a bug where movement clues would sometimes not be generated.</li>
          </ul>
      </li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Mirage_152"></a>
    Mirage</h3>
  <ul>
      <li><strong>Vanishing Act</strong>
          <ul>
              <li>Mirage can now cancel out of his ultimate cloak early.</li>
              <li>Mirage now has a small delay when disabling cloak.</li>
          </ul>
      </li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Caustic_157"></a>
    Caustic</h3>
  <ul>
      <li><strong>Nox Gas</strong>
          <ul>
              <li>The magnitude of the slow is reduced by 50% when effecting teammates.</li>
          </ul>
      </li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Gibraltar_161"></a>
    Gibraltar</h3>
  <ul>
      <li><strong>Dome of Protection</strong>
          <ul>
              <li>Increased the duration by 3 seconds.</li>
          </ul>
      </li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Pathfinder_165"></a>
    Pathfinder</h3>
  <ul>
      <li>Updated the hit box to better conform with the base model.</li>
      <li>We are also planning to make adjustments so his hitbox better reflects Legendary Skins as well for cases where it’s not matching up.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Lifeline_169"></a>
    Lifeline</h3>
  <ul>
      <li>D.O.C. heal drone now gets destroyed after 2 damage ticks by the circle.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Stats_Page_173"></a>
    Stats Page</h3>
  <ul>
      <li>Added a stats page. You can access it by hovering over your name while in the Lobby and clicking it to inspect. The page will show you your overall account stats as well as access to your stats for each season and Ranked Series.</li>
      <li>We’re sure you all will have feedback on other stats you’d like to see here. What we’re shipping with Season 2 is just the start and we’re planning to build on it. We won’t promise anything but definitely let us know what other stats you want shown after you’ve played around with it.</li>
      <li><strong>KNOWN ISSUES</strong>: There will be some stats [like assists for example] that will start counting for Season 2 but won’t account for progress before that. This is because until we added the feature, this stuff wasn’t being counted. We’re looking at future improvements to retroactively update these areas that we hope to address down the road.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="The_Ring_179"></a>
    The Ring</h3>
  <ul>
      <li>
          <p>With Season 2, we’ll trying out new circle closing speed, size, and damage that now applies to both Ranked Leagues and the normal Apex Queue.</p>
      </li>
      <li>
          <p>Ring Damage is now the following:</p>
          <ul>
              <li><strong>Round 1:</strong> 2% damage taken per tick.</li>
              <li><strong>Round 2:</strong> 5% damage taken per tick.</li>
              <li><strong>Round 3:</strong> 10% damage taken per tick.</li>
              <li><strong>Round 4:</strong> 20% damage taken per tick.</li>
              <li><strong>Round 5:</strong> 20% damage taken per tick.</li>
              <li><strong>Round 6 and beyond:</strong> 25% damage taken per tick.</li>
          </ul>
      </li>
      <li>
          <p>Ring start and closing speed is now the following:</p>
          <ul>
              <li><strong>First Circle</strong>
                  <ul>
                      <li>Starts closing after: 3 minutes.</li>
                      <li>Time to close: 2 minutes.</li>
                  </ul>
              </li>
              <li><strong>Second Circle</strong>
                  <ul>
                      <li>Starts closing after: 2 minutes 30 seconds.</li>
                      <li>Time to close: 2 minutes.</li>
                  </ul>
              </li>
              <li><strong>Third Circle</strong>
                  <ul>
                      <li>Starts closing after: 2 minutes 15 seconds.</li>
                      <li>Time to close: 2 minutes.</li>
                  </ul>
              </li>
              <li><strong>Fourth Circle</strong>
                  <ul>
                      <li>Starts closing after: 2 minutes.</li>
                      <li>Time to close: 2 minutes.</li>
                  </ul>
              </li>
              <li><strong>Fifth Circle</strong>
                  <ul>
                      <li>Starts closing after: 1 minute 30 seconds.</li>
                      <li>Time to close: 1 minutes 40 seconds.</li>
                  </ul>
              </li>
              <li><strong>Sixth Circle</strong>
                  <ul>
                      <li>Starts closing after: 1 minute 30 seconds.</li>
                      <li>Time to close: 1 minutes 40 seconds.</li>
                  </ul>
              </li>
              <li><strong>Seventh Circle</strong>
                  <ul>
                      <li>Starts closing after: 2 minutes.</li>
                      <li>Time to close: 1 minute 20 seconds.</li>
                  </ul>
              </li>
              <li><strong>Eighth Circle</strong>
                  <ul>
                      <li>Starts closing after: 20 seconds.</li>
                      <li>Time to close: 1 minute 20 seconds.</li>
                  </ul>
              </li>
          </ul>
      </li>
      <li>
          <p>Ring radius for the first circle has been slightly reduced [it’s about 9% smaller than it was before].</p>
      </li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Quality_of_Life_219"></a>
    Quality of Life</h3>
  <ul>
      <li>Pings
          <ul>
              <li>When pinging a closed door, the player will now say “closed door here”.</li>
              <li>When pinging an open door, the player will now say “someone’s been here”.</li>
              <li>When a player requests a hop up, if the gun only accepts one kind of hop up, the player will callout that specific hop up they are looking for. If the gun accepts multiple hop ups, the player won’t vocalize it but all possible hop ups requested will show up in the obit feed.</li>
          </ul>
      </li>
      <li>Arc stars that are stuck to players should no longer fail to do damage when the part of the player it is stuck to is intersecting another object.</li>
      <li>Made visual improvements to the Legends while in the Lobby and character select.</li>
      <li>Added improvements and polish to the Legend’s animations while skydiving.</li>
      <li>Improved melee hit detection on the hover tank while it’s moving.</li>
      <li>Server optimizations.</li>
      <li>Improved server and client performance when firing weapons, especially for multi-projectile weapons like shotguns and TripleTake.</li>
      <li>Large doors and Supply Bins can now be used while viewing them from more extreme angles.</li>
      <li>Slow Effects will now slow players equally regardless of their controller settings.</li>
      <li>Wraith’s Heirloom will now more reliably show its lightning visualFX.</li>
      <li>Heal items will now more reliably show the correct model when switching between different types.</li>
      <li>General optimizations to improve framerate.</li>
      <li>Fixed issue with geometry sometimes flickering when viewed from a long distance.</li>
      <li>Death Box rarity colors are now more visible from a distance.</li>
      <li>“Send Friend Request” tool-tip now shows up when hovering over teammates Banners while viewing the “Squad Eliminated” screen and “Squads” tab during a match.</li>
      <li>Made it so that your weapon won’t play its priming animation when you pull it out after skydiving.</li>
      <li>Fixed issue with skydive continuing to loop falling soundFX after landing.</li>
      <li>Apex will no longer swap from full screen to windowed mode automatically if you shift to focus on other applications while Apex is booting up.</li>
      <li>Fixed issue with players seeing their Origin friends listed as offline when they aren’t.</li>
      <li>Made improvements to voice chat for PC.</li>
      <li>Fixed issue where you could lose your Steam friends list after restarting Apex on PC.</li>
      <li>Fixed issue where sometimes players would get a black screen during character select.</li>
      <li>Added “Flash Hider” description to the Gold Barrel Stabilizer attachment. It always did this but the information wasn’t provided well so we added it to the description when inspecting the attachment.</li>
  </ul>

  <h3 class="top-offset">
    <a data-scroll-spy id="Bug_Fixes_248"></a>
    Bug Fixes</h3>
    <ul>
        <li>Fixed exploit where players could use weapon inspect to cancel out other weapon behaviors.</li>
        <li><strong>EVA-8</strong>: ADS recoil now resettles back to starting point instead of a randomized offset of the starting point.</li>
        <li><strong>Thermite Grenades:</strong> fixed an issue where players downed with thermite could be invincible to thermite after being revived.</li>
    </ul>
  <ul>
      <li>Fixed a hit registration bug that could occur if you fired your weapon while being damaged by an enemy shotgun.</li>
      <li>Fixed a bug where sometimes load screens would not appear properly and players would temporarily see the training map before loading into a match.</li>
      <li>Fixed issue with players not always hearing selected quip dialogue when performing a finisher or being executed.</li>
      <li>Fixed issue with Apex not working correctly when SLI or Crossfire is enabled.</li>
      <li>Fixed bug with the consumables wheel sometimes appearing blank.</li>
      <li>Fixed bug where players would sometimes get stuck on the Battle Pass Level screen.</li>
      <li>Fixed bug where The Unlock button would be greyed out when it shouldn’t be when trying to view rewards.</li>
      <li>Fixed bug where players would sometimes be unable to exit the Battle Pass tab after selecting it from the Lobby.</li>
      <li>Fixed an exploit where players could jump while downed.</li>
      <li>Fixed issue where sometimes the client would crash to the Dashboard when entering character select on Xbox One.</li>
      <li>Fixed a bug where pinging a sniper stock in your inventory would show up as “looking for Grip”</li>
      <li>Fixed a bug that caused players and loot to begin sliding permanently or launching inconsistently onto Supply Ship surfaces after doing melee attacks against the Supply Ship walls.</li>
      <li>Fixed bug that could cause players to shift to a location under the map when switching between players while spectating.</li>
      <li>Fixed bug for cases where performing a melee attack while inspecting an item would cause the attack to slow down and not deal damage.</li>
      <li><strong>[X1 only]</strong> Fixed bug where players were not being rewarded “The Player” achievement after hitting level 50. If you have reached level 50 and not received it in the past it should now be awarded retroactively.</li>
      <li>Fixed the bug that sometimes caused Apex to crash when plugging a PS4 controller into your PC while the game is active.</li>
      <li>Fixed bug that caused an “Out of Bounds” warning and timer while riding the Supply Ship over certain areas of Kings Canyon.</li>
      <li>General improvements to game stability related to various script errors.</li>
      <li><strong>Legends</strong>
          <ul>
              <li>Bloodhound
                  <ul>
                      <li>Fixed bug where players wouldn’t create movement evidence markers unless they were sprinting.</li>
                      <li>Fixed bug where sometimes energy weapons wouldn’t create ‘weapon fired’ evidence markers.</li>
                  </ul>
              </li>
              <li>Wraith
                  <ul>
                      <li>Fixed bug where Wraith’s jetpack boosters could still be seen while phasing.</li>
                      <li>Fixed issue where in some rare cases, performing a Finisher while down player is entering a Wraith Portal.</li>
                      <li>Fixed an exploit that allowed players to place extra Dimensional Portals.</li>
                  </ul>
              </li>
              <li>Octane
                  <ul>
                      <li>Fixed a bug that caused throwable items to bounce off a jump pad without actually touching it.</li>
                  </ul>
              </li>
          </ul>
      </li>
  </ul>
</div>
