<% content_for :page_title, "Patch Notes - 8.13.2019 - The Iron Crown Event Patch of Apex Legends" %>

<style>
  body { background-image: url(<%= image_path("patch-notes/gradientbg-xs.png") %>) }
  @media (min-width: 480px) { body { background-image: url(<%= image_path("patch-notes/gradientbg-sm.png") %>) }}
  @media (min-width: 960px) { body { background-image: url(<%= image_path("patch-notes/gradientbg.png") %>) }}
</style>

<div class="wrapper wrapper--medium no-text-transform">
  <h4 class="top-offset"><center>Patch Highlights</center></h4>

  <div class="columns columns--collapsing">
    <div class="columns__column">
      <h5>Limited Time Mode - Solos</h5>
      <p>We are finally dipping our toes into the Solo waters. We’re going to put it out there and see what happens. Too early to say if this will become permanent or not - healthy matchmaking across all modes is priority. Give it a shot and let us know what you think.</p>

      <h5>Octane Town Takeover</h5>
      <p>New Town on Kings Canyon</p>

      <h5>Double XP for Top 5 & Wins Weekend</h5>
      <p>From 10am PST on August 16th through 10am PST on August 19th players will earn double XP for Top 5’s and Wins all weekend long. This bonus will affect both Account Level and Battle Pass progression.</p>
    </div>

    <div class="columns__column">
      <h5>A special Collection Event Apex Pack and Iron Crown Event Store</h5>
      <p>Available for a limited time!</p>

      <h5>With Bloodhound Heirloom Set Preview!</h5>
      <p>Complete Daily and Weekly Challenges to progress through your Battle Pass. Rewards include enough Crafting Materials to craft a Legendary item. <br> <%= link_to "Discover the Battle Pass", "#Battle_Pass_4", class: "btn-link" %></p>

      <h5>Exclusive event challenges with free loot.</h5>
      <p>Complete a variety of challenges to earn two Iron Crown Collection packs, exclusive Iron Crown event badges, and event currency (Crowns).</p>
    </div>
  </div>
</div>

<div class="wrapper wrapper--small no-text-transform top-offset">
  <h2>Patch Notes</h2>

  <h5 class="title-small">8.13.2019 - The Iron Crown Patch Notes</h5>

  <div class="relative">
    <nav class="scroll-spy" data-role="scroll-spy">
      <%= link_to "Bug Fixes", "#Bug_Fixes_0", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Quality of Life", "#Quality_of_Life_14", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Ingame Survey", "#Added_Ingame_Survey_24", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Weapon Balance", "#Weapon_Balance_38", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Disruptor Rounds with Alternator", "#Disruptor_Rounds_with_Alternator_40", class: "scroll-spy__item" %>
      <%= link_to "RE-45", "#RE45_45", class: "scroll-spy__item" %>
      <%= link_to "R-301", "#R301_54", class: "scroll-spy__item" %>
      <%= link_to "Legends", "#Legends_59", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "General", "#General_61", class: "scroll-spy__item" %>
      <%= link_to "Bloodhound", "#Bloodhound_68", class: "scroll-spy__item" %>
      <%= link_to "Wraith", "#Wraith_73", class: "scroll-spy__item" %>
      <%= link_to "Mirage", "#Mirage_79", class: "scroll-spy__item" %>
      <%= link_to "Octane", "#Octane_83", class: "scroll-spy__item" %>
    </nav>
  </div>

  <h3 class="code-line" data-line-start=0 data-line-end=1 >
    <a data-scroll-spy id="Bug_Fixes_0"></a>
    Bug Fixes</h3>
  <ul>
  <li class="has-line-data" data-line-start="2" data-line-end="3">Fixed issue where assigned challenges not resetting properly and giving rewards.</li>
  <li class="has-line-data" data-line-start="3" data-line-end="4">Fixed bug causing incorrect calculation of Kill/Death Ratio in player stats.</li>
  <li class="has-line-data" data-line-start="4" data-line-end="5">Fixed an issue where sometimes a Care Package would clip into map geometry.</li>
  <li class="has-line-data" data-line-start="5" data-line-end="6">Fixed a bug that was sometimes showing Apex Predator ranked players RP as zero when viewing the badge in the Lobby.</li>
  <li class="has-line-data" data-line-start="6" data-line-end="7">Fixed issue with players having connection issues when trying to join a squad that has already played a match.</li>
  <li class="has-line-data" data-line-start="7" data-line-end="8">Fixed issue where Daily and Weekly Challenges would reset earlier than communicated in the game.</li>
  <li class="has-line-data" data-line-start="8" data-line-end="9"><strong>[Xbox Only]</strong> Fixed bug where players would sometimes not receive “The Player” achievement when hitting level 50.</li>
  <li class="has-line-data" data-line-start="9" data-line-end="10">Fixed a bug where sometimes Arc Stars would attach to players and some objects at a distance and appear to float off of them.</li>
  <li class="has-line-data" data-line-start="10" data-line-end="11">Fixed bug where sometimes Arc Stars would not explode or do no damage when it detonates.</li>
  <li class="has-line-data" data-line-start="11" data-line-end="12">Fixed issue with players sometimes unable to unlock the “Double Duty” Badge.</li>
  <li class="has-line-data" data-line-start="12" data-line-end="14">Fixed bug where sometimes using a healing item while experiencing bad ping would cause them to heal for twice as much.</li>
  </ul>
  <h3 class="top-offset code-line" data-line-start=14 data-line-end=15 >
    <a data-scroll-spy id="Quality_of_Life_14"></a>
    Quality of Life</h3>
  <ul>
  <li class="has-line-data" data-line-start="16" data-line-end="18">Added a Death Recap to the end of match summary that will display a damage summary of your last battle.</li>
  </ul>
  <ul>
  <li class="has-line-data" data-line-start="20" data-line-end="22">Improved the UI during the Match Summary to better show Battle Pass progression.</li>
  </ul>
  <h3 class="top-offset code-line" data-line-start=24 data-line-end=25 >
    <a data-scroll-spy id="Added_Ingame_Survey_24"></a>
    Added In-game Survey</h3>
  <blockquote>While playing you may get a prompt that will pop up asking if you enjoyed the last match. This data will be helpful to us so please provide your input when you see it.</blockquote>
  <ul>
  <li class="has-line-data" data-line-start="29" data-line-end="30">Added option to spectate your squadmates after dying.</li>
  <li class="has-line-data" data-line-start="30" data-line-end="31">Added option to “Invite Squad” in the Squad Tab.</li>
  <li class="has-line-data" data-line-start="31" data-line-end="32">Players should no longer lose RP when experiencing a server crash or disconnect in Ranked Mode.</li>
  <li class="has-line-data" data-line-start="32" data-line-end="33">Fixed issue where squadmates could not ping a friendly Wraith portal.</li>
  <li class="has-line-data" data-line-start="33" data-line-end="34">Fixed issue where players could pull other players out of a match by joining them, and then joining another friend from the Lobby.</li>
  <li class="has-line-data" data-line-start="34" data-line-end="35">Fixed issue where sometimes a player would get left behind from their squad in the Lobby after they enter a match.</li>
  <li class="has-line-data" data-line-start="35" data-line-end="36">Fixed issue where players would sometimes get a “Party Not Ready” error message even though they were no longer in a party.</li>
  <li class="has-line-data" data-line-start="36" data-line-end="38">Fixes that should improve overall game stability to reduce crashes.</li>
  </ul>
  <h3 class="top-offset code-line" data-line-start=38 data-line-end=39 >
    <a data-scroll-spy id="Weapon_Balance_38"></a>
    Weapon Balance</h3>
  <h4 class="code-line" data-line-start=40 data-line-end=41 >
    <a data-scroll-spy id="Disruptor_Rounds_with_Alternator_40"></a>
    Disruptor Rounds with Alternator:</h4>
  <ul>
  <li class="has-line-data" data-line-start="42" data-line-end="45">Reduced Shielded damage multiplier 1.7 -&gt; 1.55.
  <ul>
  <li class="has-line-data" data-line-start="43" data-line-end="45"><em>Designer Notes: Disruptor rounds on the alternator are shredding shields a bit too quickly and still proving to be stronger than intended, so we’re reducing the disruptor rounds multiplier on shield damage</em>.</li>
  </ul>
  </li>
  </ul>
  <h5 class="code-line" data-line-start=45 data-line-end=46 >
    <a data-scroll-spy id="RE45_45"></a>
    RE-45</h5>
  <ul>
  <li class="has-line-data" data-line-start="47" data-line-end="54">Increased Magazine Size for all tiers to the following:
  <ul>
  <li class="has-line-data" data-line-start="48" data-line-end="49">Base: 16</li>
  <li class="has-line-data" data-line-start="49" data-line-end="50">Common: 19</li>
  <li class="has-line-data" data-line-start="50" data-line-end="51">Rare: 22</li>
  <li class="has-line-data" data-line-start="51" data-line-end="52">Epic: 25</li>
  <li class="has-line-data" data-line-start="52" data-line-end="54"><em>Designer Notes: We’re giving the RE-45 a small boost in power by giving it one more round for every mag size. Downing a non-fortified enemy with the RE-45 with 0, 50, 75, and 100 shields requires 10, 14, 16, and 19 shots respectively, so this extra round gives the gun the ability to one-mag more armored enemies instead of leaving them barely alive.</em></li>
  </ul>
  </li>
  </ul>
  <h5 class="code-line" data-line-start=54 data-line-end=55 >
    <a data-scroll-spy id="R301_54"></a>
    R-301</h5>
  <ul>
  <li class="has-line-data" data-line-start="56" data-line-end="59">Increased vertical and horizontal recoil. Slightly increased recoil pattern randomness.
  <ul>
  <li class="has-line-data" data-line-start="57" data-line-end="59"><em>Designer Notes: We’ve made these changes as we’ve seen that the R301 is a bit stronger than intended at long range. We’ve adjusted recoil to balance keeping it effective at medium to close range–which is the original intent–but it should be more difficult for players to auto fire and still laser enemies at long distances.</em></li>
  </ul>
  </li>
  </ul>
  <h3 class="top-offset code-line" data-line-start=59 data-line-end=60 >
    <a data-scroll-spy id="Legends_59"></a>
    Legends</h3>
  <h4 class="code-line" data-line-start=61 data-line-end=62 >
    <a data-scroll-spy id="General_61"></a>
    General</h4>
  <ul>
  <li class="has-line-data" data-line-start="63" data-line-end="65">Made adjustments to Pathfinder’s and Low-Profile Legends hitboxes.
  <ul>
  <li class="has-line-data" data-line-start="64" data-line-end="65">Taking shots to the hip now does torso damage instead of leg damage. This should more closely match the behavior of the other Legends.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="65" data-line-end="66">Fixed a bug where activating a healing item would cancel the Ultimate for Legends that need to prime it [Bangalore / Pathfinder / Caustic / Gibraltar / Bloodhound]</li>
  <li class="has-line-data" data-line-start="66" data-line-end="68">Fixed an exploit where players would sometimes be able to still shoot while downed.</li>
  </ul>
  <h5 class="code-line" data-line-start=68 data-line-end=69 >
    <a data-scroll-spy id="Bloodhound_68"></a>
    Bloodhound</h5>
  <ul>
  <li class="has-line-data" data-line-start="70" data-line-end="71">Increased the distance that Bloodhound can see traversal clues left by other players [but not other kinds of clues] to 25 meters.</li>
  <li class="has-line-data" data-line-start="71" data-line-end="73">Adjusted the area of effect for Bloodhound’s Tactical to 125 fov.</li>
  </ul>
  <h5 class="code-line" data-line-start=73 data-line-end=74 >
    <a data-scroll-spy id="Wraith_73"></a>
    Wraith</h5>
  <ul>
  <li class="has-line-data" data-line-start="75" data-line-end="76">Based on player feedback, we’ve reduced the “hum” audio that’s playing while using Wraith’s Kunai.</li>
  <li class="has-line-data" data-line-start="76" data-line-end="77">Fixed issue where actions for Wrath would have a slight delay when her weapon is holstered and crouching or sliding while the kunai is equipped.</li>
  <li class="has-line-data" data-line-start="77" data-line-end="79">Fixed an exploit that allowed players to remove the cooldown for Wraith’s Tactical Ability.</li>
  </ul>
  <h5 class="code-line" data-line-start=79 data-line-end=80 >
    <a data-scroll-spy id="Mirage_79"></a>
    Mirage</h5>
  <ul>
  <li class="has-line-data" data-line-start="81" data-line-end="83">Fixed bug where Mirage was able to stay invisible and still be able to shoot and melee when using his Ultimate on a zipline.</li>
  </ul>
  <h5 class="code-line" data-line-start=83 data-line-end=84 >
    <a data-scroll-spy id="Octane_83"></a>
    Octane</h5>
  <ul>
  <li class="has-line-data" data-line-start="85" data-line-end="86">Fixed bug where sometimes Octane’s Jump Pad would not launch the player.</li>
  </ul>
</div>
