<% content_for :page_title, "Patch Notes - 9.3.2019 - Voidwalker Event Patch of Apex Legends" %>

<style>
  body { background-image: url(<%= image_path("patch-notes/gradientbg-xs.png") %>) }
  @media (min-width: 480px) { body { background-image: url(<%= image_path("patch-notes/gradientbg-sm.png") %>) }}
  @media (min-width: 960px) { body { background-image: url(<%= image_path("patch-notes/gradientbg.png") %>) }}
</style>

<div class="wrapper wrapper--small no-text-transform top-offset">
  <h2>Patch Notes</h2>

  <h5 class="title-small">9.3.2019 - Voidwalker Event Patch Notes</h5>

  <div class="relative">
    <nav class="scroll-spy" data-role="scroll-spy">
      <%= link_to "Wraith Event", "#Wraith_Town_Take_Over_0", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Event Challenges", "#Exclusive_Event_Challenges_4", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Direct Purchase Shop", "#Direct_Purchase_Shop_8", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Bug Fixes", "#BUG_FIXES_33", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Quality of life", "#Quality_of_life_42", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Weapons", "#Weapons_55", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Legend", "#Legend_61", class: "scroll-spy__item scroll-spy__item--large" %>
      <%= link_to "Wattson", "#Wattson_64", class: "scroll-spy__item" %>
      <%= link_to "Bloodhound", "#Bloodhound_69", class: "scroll-spy__item" %>
    </nav>
  </div>

  <h3 class="code-line" data-line-start=0 data-line-end=1 ><a data-scroll-spy id="Wraith_Town_Take_Over_0"></a>
    Wraith Town Take Over</h3>
  <p class="has-line-data" data-line-start="2" data-line-end="3">A mysterious research site has been unearthed in Kings Canyon that was used as part of Project: Wraith, including a functioning prototype portal.</p>
  <hr class="my-40">
  <h3 class="code-line" data-line-start=4 data-line-end=5 ><a data-scroll-spy id="Exclusive_Event_Challenges_4"></a>
    Exclusive Event Challenges</h3>
  <p class="has-line-data" data-line-start="6" data-line-end="7">Complete a variety of challenges to earn exclusive skins and Wraith-themed content. All challenges and rewards will be limited to the 2 week event.</p>
  <hr class="my-40">
  <h3 class="code-line" data-line-start=8 data-line-end=9 ><a data-scroll-spy id="Direct_Purchase_Shop_8"></a>
    Direct Purchase Shop</h3>
  <p class="has-line-data" data-line-start="10" data-line-end="11">New Event Limited cosmetics including the Wraith Voidwalker Legendary skin for 1,800 Apex Coins. Additional themed cosmetics are included ranging from 500 to 1000 Apex Coins.</p>
  <ul>
  <li class="has-line-data" data-line-start="12" data-line-end="14"><strong>Double XP for Top 5 and Wins Weekend</strong>
  <ul>
  <li class="has-line-data" data-line-start="13" data-line-end="14">From 10:00 a.m. PT on September 6 to 10:00 a.m. PT on September 9, players will earn double XP for Top 5 finishes and wins.  This bonus will affect both Account Level and Battle Pass progression.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="14" data-line-end="33"><strong>Limited-Time Mode - Armed and Dangerous</strong>
  <ul>
  <li class="has-line-data" data-line-start="15" data-line-end="17">Shotguns and Snipers only
  <ul>
  <li class="has-line-data" data-line-start="16" data-line-end="17">Enabled Guns: Mozambique, Peacekeeper, EVA-8, Longbow, G7, Triple Take</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="17" data-line-end="18">Attachments not used by Snipers or Shotguns are disabled</li>
  <li class="has-line-data" data-line-start="18" data-line-end="19">Gold variants of weapons spawn in High Tier loot zones and in airdrops</li>
  <li class="has-line-data" data-line-start="19" data-line-end="20">Kraber and Mastiff loot values are tuned so they spawn in late-game airdrops and very rarely as ground loot (1-2 per game each)</li>
  <li class="has-line-data" data-line-start="20" data-line-end="23">Reduced Armor
  <ul>
  <li class="has-line-data" data-line-start="21" data-line-end="22">Disabled Loot: Armor (Blue/Purple/Gold), Helmets (Blue/Purple/Gold)</li>
  <li class="has-line-data" data-line-start="22" data-line-end="23">Spawn rate for Common Armor and Helmets is reduced.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="23" data-line-end="24">Ground Loot Drop Chances are reduced by 45% (Supply Bins are not affected by this)</li>
  <li class="has-line-data" data-line-start="24" data-line-end="29">Bullet Counts and Stacks are modified
  <ul>
  <li class="has-line-data" data-line-start="25" data-line-end="26">Light Rounds: 16 per drop, 32 per inventory slot</li>
  <li class="has-line-data" data-line-start="26" data-line-end="27">Energy Rounds: 16 per drop, 32 per inventory slot</li>
  <li class="has-line-data" data-line-start="27" data-line-end="28">Heavy Rounds: 7 per drop, 14 per inventory slot</li>
  <li class="has-line-data" data-line-start="28" data-line-end="29">Shotgun Rounds: 7 per drop, 28 per inventory slot</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="29" data-line-end="30">Overall, loot density is reduced, but ammo/weapon spawn rates are increased and stack sizes are increased to offset the loot scarcity and allow players to have enough ammo to not discourage combat.</li>
  <li class="has-line-data" data-line-start="30" data-line-end="31">Increased spawn rates for syringes to compensate for lower loot density.</li>
  <li class="has-line-data" data-line-start="31" data-line-end="33">Reduced spawn rates for shield batteries to match rarity of armor.</li>
  </ul>
  </li>
  </ul>
  <hr class="my-40">
  <h3 class="code-line" data-line-start=33 data-line-end=34 ><a data-scroll-spy id="BUG_FIXES_33"></a>
    Bug fixes</h3>
  <ul>
  <li class="has-line-data" data-line-start="35" data-line-end="36">Fixed a bug where sometimes a player’s reward would not display properly after completing a challenge that awards crafting metals.</li>
  <li class="has-line-data" data-line-start="36" data-line-end="37">Fixed a bug where sometimes players would see a different rare skin equipped to the Legend they are spectating when hanging from a ledge.</li>
  <li class="has-line-data" data-line-start="37" data-line-end="38">Fixed some issues related to script errors.</li>
  <li class="has-line-data" data-line-start="38" data-line-end="39">[Xbox] Fixed issue where sometimes players would have issues connecting to a match at the same time as their party forcing them to join Legend Select late with Legends already locked.</li>
  <li class="has-line-data" data-line-start="39" data-line-end="40">[PS4] code fixes to address crashes related to out of memory issues.</li>
  <li class="has-line-data" data-line-start="40" data-line-end="42">Fixed a bug where sometimes players would still be in an out of bounds state when they are not actually out of bounds.</li>
  </ul>
  <hr class="my-40">
  <h3 class="code-line" data-line-start=42 data-line-end=43 ><a data-scroll-spy id="Quality_of_life_42"></a>
    Quality of life</h3>
  <ul>
  <li class="has-line-data" data-line-start="44" data-line-end="45">New Promo Window - A new feature we’ve added to the Lobby that will display offers and info and allows for direct navigation to the website or store.</li>
  <li class="has-line-data" data-line-start="45" data-line-end="46">Added Auto Sprint feature to all platforms that can be turned on or off. This is disabled by default and can be changed in the Settings menu.</li>
  <li class="has-line-data" data-line-start="46" data-line-end="47">Players can now adjust Aim Down Sight look sensitivity per optic zoom level.</li>
  <li class="has-line-data" data-line-start="47" data-line-end="52">Visual improvements to Legends in the Lobby and Character Select screen
  <ul>
  <li class="has-line-data" data-line-start="48" data-line-end="49">Increased overall brightness.</li>
  <li class="has-line-data" data-line-start="49" data-line-end="50">Softer/lighter shadows.</li>
  <li class="has-line-data" data-line-start="50" data-line-end="51">Improved reflections on hard surfaces.</li>
  <li class="has-line-data" data-line-start="51" data-line-end="52">Improved detail and contrast to textures.</li>
  </ul>
  </li>
  <li class="has-line-data" data-line-start="52" data-line-end="53">Added UI to the Spectator View that lets players easily tell if they are spectating a squadmate or enemy.</li>
  <li class="has-line-data" data-line-start="53" data-line-end="55">Added setting to disable weapon auto switching when ammo runs out.</li>
  </ul>
  <hr class="my-40">
  <h3 class="code-line" data-line-start=55 data-line-end=56 ><a data-scroll-spy id="Weapons_55"></a>
    Weapons</h3>
  <ul>
  <li class="has-line-data" data-line-start="57" data-line-end="58">Increased projectile width for the TripleTake</li>
  <li class="has-line-data" data-line-start="58" data-line-end="61">SMG weapons are no longer compatible with the 3x HCOG and 2x-4x variable ACOG scopes.
  <ul>
  <li class="has-line-data" data-line-start="59" data-line-end="61">Note from design: <em>Our goal with this change is to better define weapon archetypes and improve the looting experience so that players aren’t accidentally picking up a long range site for a close range weapon that they have to manually remove.</em></li>
  </ul>
  </li>
  </ul>
  <hr class="my-40">
  <h3 class="code-line" data-line-start=61 data-line-end=62 ><a data-scroll-spy id="Legend_61"></a>
    Legend</h3>
  <h5 class="code-line" data-line-start=64 data-line-end=65 ><a data-scroll-spy id="Wattson_64"></a>
    Wattson</h5>
  <ul>
  <li class="has-line-data" data-line-start="66" data-line-end="67">Wattson will now have low profile attributes [takes %5 more damage to base health]</li>
  <li class="has-line-data" data-line-start="67" data-line-end="69">Reduced the maximum number of Interceptor Pylons that can be active to 1.</li>
  </ul>
  <h5 class="code-line" data-line-start=69 data-line-end=70 ><a data-scroll-spy id="Bloodhound_69"></a>
    Bloodhound</h5>
  <ul>
  <li class="has-line-data" data-line-start="71" data-line-end="72">Fixed an issue that allowed players to cancel the start up animation for their ultimate when activated while using a zipline.</li>
  </ul>
</div>
