<div class="profile__claim-mobile">
  <% if @claimed_profile.nil? %>
  <%= link_to "Claim profile", "#", class: "profile__claim-popup profile__button profile__button--primary", data: { action: "toggle-popup", target: "claim" } %>

  <% else %>
    <% if current_user %>
      <% if @claimed_profile.user_id == current_user.id %>
        <p><center>You have claimed this profile</center></p>
      <% else %>
        <p><center>This profile has been claimed</center></p>
      <% end %>
    <% else %>
      <p><center>This profile has been claimed</center></p>
    <% end %>
  <% end %>
</div>

<div class="popup popup--claim" data-popup="claim">
  <div class="profile__claim">
    <span class="popup__close" data-action="toggle-popup"><%= inline_svg("layout/close.svg") %></span>

    <% if @claimed_profile.nil? %>
      <h3>Is this your profile?</h3>

      <% if current_user %>
        <div data-role="claim-profile">
          <p>Claim your profile to and profile customisation and other (upcoming) features.</p>

          <p>To claim a profile please Log In to Apex Legends, click "Start claim" below, and follow the instructions.</p>

          <p>
            You have 10 minutes to fulfill the instructions, but it should take less than 30 seconds.<br>
            If you mess up you are free to try again.
          </p>

          <%= form_for :claimed_profile, url: claim_profile_initiate_path, remote: true do |form| %>
            <%= form.hidden_field :platform, value: @response["global"]["platform"] %>
            <%= form.hidden_field :user, value: @response["global"]["name"] %>
            <%= form.hidden_field :profile_uid, value: @response["global"]["uid"] %>

            <%= form.submit "Start claim", class: "button" %>
          <% end %>
        </div>
      <% else %>
        <div data-role="claim-profile">
          <p>Claim your profile to and profile customisation and other (upcoming) features.</p>

          <p>To claim a profile please Log In ApexData.gg and Apex Legends, and follow the instructions.</p>
        </div>

        <%= link_to "Claim this profile", login_path, class: "button" %>
      <% end %>
    <% else %>
      <% if current_user %>
        <% if @claimed_profile.user_id == current_user.id %>
          <p><center>You have claimed this profile</center></p>
        <% else %>
          <p><center>This profile has been claimed</center></p>
        <% end %>
      <% else %>
        <p><center>This profile has been claimed</center></p>
      <% end %>
    <% end %>
  </div>
</div>
