<div class="item profile-legend <%= "profile-legend--current" if current %>">
  <div class="profile-legend__image">
    <%= image_tag "legends/#{ legend.downcase }/banner.jpg" %>
  </div>

  <div class="profile-legend__content">
    <% if current %>
      <span class="profile-legend__selected">Selected</span>
    <% end %>

    <h2 class="profile-legend__name"><%= legend %></h2>

    <div class="profile-legend__stats">
      <% if data %>
        <% data.each do |key, value| %>
          <div class="profile-stats">
            <span class="profile-stats__name"><%= key.humanize %></span>
            <span class="profile-stats__amount">
              <span class="amount__total"><%= number_with_delimiter value["value"] %></span>

              <% if saved_values.where(legend: legend, data_name: key).any? %>
                <div class="dropdown dropdown--dropup profile-stats__updates">
                  <small>Updates</small>

                  <div class="dropdown__content">
                    <div class="dropdown__inner">
                      <% saved_values.where(legend: legend, data_name: key).limit(8).each do |data| %>
                        <div class="profile-stats__updates-item">
                          <em><%= data.created_at.to_formatted_s(:short) %>: </em>
                          <strong><%= number_with_delimiter data.data_value %></strong>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </span>

            <div class="profile-stats__bar">
              <% if ProfileLegendData.where(legend: legend, data_name: key).order(:data_value).last %>
                <% max_value = ProfileLegendData.where(legend: legend, data_name: key).order(:data_value).last.data_value %>
                <% value_percentage = ((100 / max_value.to_f) * value["value"].to_f).round(2) %>
              <% else %>
                <% max_value = value["value"] %>
                <% value_percentage = 100 %>
              <% end %>

              <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="<%= max_value %>">
                <div class="bar-graph__line" data-role="bar-graph-line" style="width: <%= value_percentage %>%;"></div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render "item_no_data", legend: legend %>
      <% end %>
    </div>
  </div>
</div>
