<% content_for :page_title, "Profile | " + @response["global"]["name"] %>
<% content_for :no_of, true %>
<% content_for :extra_style,
  "@media (min-width: 640px) { body { background-image: url(#{image_path("gradient-bg/md/#{ @response["realtime"]["selectedLegend"].downcase }.png")}) }}
  @media (min-width: 768px) { body { background-image: url(#{image_path("gradient-bg/lg/#{ @response["realtime"]["selectedLegend"].downcase }.png")}) }}
  @media (min-width: 1200px) { body { background-image: url(#{image_path("gradient-bg/xl/#{ @response["realtime"]["selectedLegend"].downcase }.png")}) }}" %>

<%= render "ad_header" %>

<div class="wrapper wrapper--small no-text-transform">
  <div class="heading heading--white-line heading--half-margin">
    <h2 class="heading__title">Legend Charts</h2>
  </div>

  <div class="item item--full-width">
    <%= form_tag "/", class: "chart-filter", autocomplete: "off", data: { action: "charts-filter" } do %>
      <div>
        <%= label_tag :limit, "From" %>
        <%= datetime_field_tag :start_date, params[:start_date] || (DateTime.now - 1.month).strftime("%FT%R"), class: "form-control"  %>
      </div>

      <div>
        <%= label_tag :limit, "To" %>
        <%= datetime_field_tag :end_date, params[:end_date] || DateTime.now.strftime("%FT%R"), class: "form-control"  %>
      </div>

      <div>
        <%= label_tag :limit, "Max items" %>
        <%= select_tag :limit, options_for_select([ "5", "10", "25", "50", "100" ], "25")  %>
      </div>

      <%= submit_tag ">", class: "chart-filter__button" %>
    <% end %>
  </div>

  <div class="relative">
    <nav class="scroll-spy" data-role="scroll-spy">
      <% @saved_values.group_by(&:legend).each do |legend, legend_data| %>
        <%= link_to legend, "##{ legend }", class: "scroll-spy__item scroll-spy__item--large" %>

        <% legend_data.group_by(&:data_name).each do |data_name, data| %>
          <%= link_to data_name.humanize, "##{ legend }_#{ data_name }", class: "scroll-spy__item" %>
        <% end %>
      <% end %>
    </nav>
  </div>

  <% @saved_values.group_by(&:legend).each do |legend, legend_data| %>
    <h3 data-scroll-spy id="<%= legend %>"><%= legend %></h3>

    <% legend_data.group_by(&:data_name).each do |data_name, data| %>
      <div class="item item--full-width" id="<%= legend %>_<%= data_name %>" data-scroll-spy>
        <h5 class="m-0"><%= data_name.humanize %></h5>

        <br>

        <% dates = [] %>
        <% values = [] %>
        <% @saved_values.where(legend: legend, data_name: data_name).last(params[:limit] || 25).each do |data| %>
          <% dates.push(data.created_at.strftime("%b %d, %Y")) %>
          <% values.push(data.data_value) %>
        <% end %>

        <canvas width="400" height="100" data-role="profile-chart" data-labels="<%= dates %>" data-values="<%= values %>"></canvas>
      </div>
    <% end %>
  <% end if @saved_values.any? %>
</div>
