<% content_for :page_title, @response["global"]["name"] %>

<div class="profile-intro">
  <h2 class="intro-platform"><%= @response["global"]["platform"] %></h2>

  <div class="intro-user">
    <div class="user__about">
      <h1 class="user-name"><%= @response["global"]["name"] %></h1>
      <span class="user-status">Offline</span>
    </div>
    
    <div class="user__actions">
      <a href="#" class="profile__button">Update profile</a>
      <a href="#" class="profile__button profile__button--primary">Get automatic updates</a>
    </div>
  </div>
</div>

<div class="profile-content item-columns item-columns--viewing-items item-columns--single">
  <main class="item-columns__main">
    <aside class="item-columns__sidebar">
      <div class="item item--profile">
        <div class="profile__level">
          <div class="circle-graph__label">
            Level
            <h4><%= @response["global"]["level"] %></h4>
          </div>
          <div class="level-graph circle-graph__graph">
            <div class="circle-graph__bar" style="--value: <%= @response["global"]["level"] %>" data-max="100" data-role="circle-graph-bar"></div>
          </div>
        </div>

        <%= render "profiles/claim" %>
      </div>

      <div class="profile__notification">
        Due to limitations in the API we can only retrieve data from the Legend you have currently selected. On top of that we can only retrieve the data you have set as your badges.
      </div>

      <%= render "profiles/charts" %>
    </aside>

    <div class="item-columns__content">
      <div class="profile-legends">
        <% legends_hash = @response["legends"]["all"] %>
        <% no_data_legends_array = [] %>
        <% legends_hash.each do |item| %>
          <% legends_hash = Hash[legends_hash.to_a.unshift(item)] if @response["legends"]["selected"][item.first] %>

          <% legends_hash.delete(item.first) unless item.last["data"] %>
          <% no_data_legends_array.push(item) unless item.last["data"] %>
        <% end %>

        <% legends_hash = legends_hash.merge(Hash[no_data_legends_array]) %>

        <% legends_hash.each do |legend, content| %>
          <%= render "profiles/item", data: content["data"], legend: legend, current: @response["legends"]["selected"][legend] ? true : false %>
        <% end %>
      </div>
    </div>
  </main>
</div>

<h1>Show | <%= params[:platform] %> | <%= @response["global"]["name"] %></h1>

<div style="margin-bottom: 50px" data-role="claim-profile">
  <% if current_user %>
    <% if @claimedProfile.nil? %>
        <p>To claim a profile please Log In to Apex Legends and follow these steps</p>

        <%= form_for :claimed_profile, url: claim_profile_initiate_path, remote: true do |form| %>
          <%= form.hidden_field :platform, value: @response["global"]["platform"] %>
          <%= form.hidden_field :user, value: @response["global"]["name"] %>
          <%= form.hidden_field :profile_uid, value: @response["global"]["uid"] %>

          <%= form.submit "Start claim" %>
        <% end %>
      </div>
    <% else %>
      <% if @claimedProfile.user_id == current_user.id %>
        <p>You have claimed this profile</p>
      <% else %>
        <p>This profile has been claimed</p>
      <% end %>
    <% end %>
  <% end %>
</div>

<% @saved_values.group_by(&:legend).each do |legend, legend_data| %>
  <h3><%= legend %></h3>
  <% legend_data.group_by(&:data_name).each do |data_name, data| %>
    <h5><%= data_name %></h5>

    <% data.each do |dataset| %>
      <%= dataset.data_value %> <br>
    <% end %>
  <% end %>
<% end if @saved_values.any? %>

<h1>Values</h1>

<% @saved_values.group_by(&:legend).each do |legend, legend_data| %>
  <hr>
  <h3><%= legend %></h3>
  <% legend_data.group_by(&:data_name).each do |data_name, data| %>
    <h5><%= data_name.humanize %></h5>

    <% dates = [] %>
    <% values = [] %>
    <% ProfileLegendData.where(
                              profile_uid: @response["global"]["uid"],
                              legend: legend,
                              data_name: data_name).group_by{ |t| t.created_at.strftime("%b %d, %Y") }.each do |date, data| %>
      <% dates.push(date) %>
      <% values.push(data.last.data_value) %>
    <% end %>

    <canvas width="400" height="100" data-role="profile-chart" data-labels="<%= dates %>" data-values="<%= values %>"></canvas>
  <% end %>
<% end if @saved_values.any? %>
