<%= render "admin_navigation" %>

<h2>Memberships <small><%= @memberships.count %></small></h2>

<table>
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Order ID</th>
    <th>Created at</th>
  </tr>

  <% @memberships.each do |membership| %>
    <tr>
      <td><%= membership.id %></td>
      <td><strong><%= membership.user_id %></strong></td>
      <td><em><%= membership.order_id %></em></td>
      <td><%= membership.created_at.localtime %></td>
    </tr>
  <% end %>
</table>
