<%= form_with(model: badge, local: true) do |form| %>
  <% if badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% badge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </p>

  <p>
    <%= form.label :image, class: "form-label" %>
    <%= form.text_field :image, class: "form-control" %>
  </p>

  <hr>

  <p>
    <%= form.submit "Submit", class: "button-alternative" %>
  </p>
<% end %>
