<%= form_with(model: reward, local: true) do |form| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :user_id, class: "form-label" %>
    <%= form.number_field :user_id, class: "form-control" %>
  </p>

  <p>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </p>

  <p>
    <%= form.label :content, class: "form-label" %>
    <%= form.text_field :content, class: "form-control" %>
  </p>

  <hr>

  <p>
    <%= form.submit "Submit", class: "button-alternative" %>
  </p>
<% end %>
