<%= form_with(model: reward, local: true) do |form| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :user_id %> <br>
    <%= form.number_field :user_id %>
  </p>

  <p>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %> <br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :content %> <br>
    <%= form.text_field :content %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
