<div class="item item--full-width">
  <div class="heading heading--small">
    <h4 class="heading__title">Rewards</h4>
  </div>

  <div class="rewards">
    <% current_user.rewards.each_with_index do |reward, index| %>
      <div class="reward">
        <h5 class="reward__title">
          <%= reward.title %>
        </h5>

        <p><%= reward.description %></p>

        <div class="reward__reveal">
          Reveal
          <input class="reward__checkbox" type="checkbox" name="reward_<%= index %>" id="reward_<%= index %>">
          <label class="reward__label" for="reward_<%= index %>"><%= reward.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
