<%= render "admin_navigation" %>

<h2><%= @user.username %></h2>

<h4>Memberships <small><%= @user.memberships.count %></small></h4>

<table>
  <tr>
    <th>ID</th>
    <th>Order ID</th>
    <th>Created at</th>
  </tr>

  <% @user.memberships.each do |membership| %>
    <tr>
      <td><%= membership.id %></td>
      <td><em><%= membership.order_id %></em></td>
      <td><%= membership.created_at.localtime %></td>
    </tr>
  <% end %>
</table>

<h4>Event Signups <small><%= @user.event_signups.count %></small></h4>

<table>
  <tr>
    <th>ID</th>
    <th>Event ID</th>
    <th>Created at</th>
  </tr>

  <% @user.event_signups.each do |event_signup| %>
    <tr>
      <td><%= event_signup.id %></td>
      <td><em><%= event_signup.event_id %></em></td>
      <td><%= event_signup.created_at.localtime %></td>
    </tr>
  <% end %>
</table>

<h4>Successful Claimed Profiles <small><%= @user.claimed_profiles.where(checks_completed: 1).count %></small></h4>

<table>
  <tr>
    <th>ID</th>
    <th>Platform</th>
    <th>Username</th>
    <th>UID</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

  <% @user.claimed_profiles.where(checks_completed: 1).each do |claimed_profile| %>
    <tr>
      <td><%= claimed_profile.id %></td>
      <td><em><%= claimed_profile.platform %></em></td>
      <td><strong><%= claimed_profile.username %></strong></td>
      <td><small><%= claimed_profile.profile_uid %></small></td>
      <td><%= claimed_profile.created_at.localtime %></td>
      <td><%= claimed_profile.updated_at.localtime %></td>
    </tr>
  <% end %>
</table>

<h4>Unfinished Claimed Profiles <small><%= @user.claimed_profiles.where(checks_completed: 0).count %></small></h4>

<table>
  <tr>
    <th>ID</th>
    <th>Platform</th>
    <th>Username</th>
    <th>UID</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

  <% @user.claimed_profiles.where(checks_completed: 0).each do |claimed_profile| %>
    <tr>
      <td><%= claimed_profile.id %></td>
      <td><em><%= claimed_profile.platform %></em></td>
      <td><strong><%= claimed_profile.username %></strong></td>
      <td><small><%= claimed_profile.profile_uid %></small></td>
      <td><%= claimed_profile.created_at.localtime %></td>
      <td><%= claimed_profile.updated_at.localtime %></td>
    </tr>
  <% end %>
</table>
