<% content_for :page_title, "Your account" %>
<% content_for :no_of, true %>

<div class="wrapper wrapper--tiny top-offset">
  <div class="item item--full-width">
    <div class="notice"><%= notice %></div>

    <div>Logged in as <strong><%= current_user.username %></strong></div>

    <hr>
      <small>Your API Key: <strong><%= current_user.api_key %></strong></small>
    <hr>

    <%= link_to "Edit your account", edit_user_path %>
    <%= link_to "Logout", logout_path %>
  </div>

  <%= render "memberships" if Flipper.enabled?(:memberships) %>

  <%= render "claimed_profiles" if Flipper.enabled?(:profiles) %>
</div>
