<div class="event-top">
  <div class="event__flags">
    <% sorted_event_signups = @event.event_signups.sort { |a,b| b.total_value.to_f <=> a.total_value.to_f } %>

    <% sorted_event_signups.each_with_index do |event_signup, index| %>
      <%= render "flag_item", event_signup: event_signup, item_counter: index + 1 %>
      <% break if index >= 3 %>
    <% end %>
  </div>
</div>

<div class="list-content">
  <aside class="list-content__sidebar">
    <div class="item item--list">
      <small class="event__small">Event</small>
      <div class="heading heading--event">
        <h1 class="heading__title heading__title--event"><%= @event.title %></h1>
      </div>

      <%= render "event_signups/form" %>

      <div class="top-offset">
        <% @event.event_signups.each do |event_signup| %>
          <%= event_signup.user_id %>: <%= event_signup.profile_uid %>
        <% end %>
      </div>
    </div>

    <div class="item item--list">
      <small class="event__small"><span><%= @event.start_datetime %></span> - <span><%= @event.end_datetime %></span></small>
      <div class="heading heading--event">
        <h2 class="heading__title heading__title--event">Event ends in</h2>
      </div>

      <%= render "countdown", current_time: DateTime.now, end_time: @event.end_datetime %>
    </div>
  </aside>

  <div class="list-content__content">
    <div class="item event__leaderboard">
      <% sorted_event_signups.each_with_index do |event_signup, index| %>
        <%= render "leaderboard_item", event_signup: event_signup, item_counter: index + 1 %>
      <% end %>
    </div>
  </div>
</div>
