<div class="event-top event-top--soon">
  <h1 class="event__top-title"><%= @event.title %></h1>
  <h3 class="event__top-subtitle">Event is starting in</h3>

  <%= render "countdown", extra_classes: "event__time-wrapper--large", current_time: DateTime.now, start_time: @event.start_datetime %>
</div>

<div class="wrapper wrapper--small">
  <div class="item item--full-width item--event">
    <div class="heading mt-0 mb-20">
      <h4 class="heading__title"><%= @event.title %></h4>
    </div>

    <%= @event.description.html_safe %>
  </div>

  <div class="item item--full-width item--event">
    <div class="heading mt-0 mb-20">
      <h4 class="heading__title">Sign up</h4>
    </div>

    <br>

    <%= render "event_signups/form" %>

    <% @event.event_signups.each do |event_signup| %>
      <%= event_signup.user_id %>: <%= event_signup.profile_uid %>
    <% end %>
  </div>

  <div class="item item--full-width item--event">
    <span class="event__time event__info color-basic">Event starting soon</span>

    <small>
      <span>Starts at: <%= @event.start_datetime.strftime("%e %B %Y, %T %Z") %></span><br>
      <span>Ends at: <%= @event.end_datetime.strftime("%e %B %Y, %T %Z") %></span>
    </small>
  </div>

  <div class="item item--full-width item--event">
    <div class="heading mt-0 mb-20">
      <h4 class="heading__title">Rewards</h4>
    </div>

    <%= render "rewards" %>
  </div>
</div>
