<div class="event-top">
  <div class="event__flags">
    <% sorted_event_signups = @event.event_signups.order(total_value: :desc) %>

    <% sorted_event_signups.limit(3).each_with_index do |event_signup, index| %>
      <%= render "flag_item", event_signup: event_signup, item_counter: index + 1 %>
    <% end %>
  </div>
</div>

<div class="list-content">
  <aside class="list-content__sidebar">
    <div class="item item--list">
      <small class="event__small">Event</small>
      <div class="heading heading--event">
        <h1 class="heading__title heading__title--event"><%= @event.title %></h1>
      </div>

      <br>

      <%= render "event_signups/form" %>
    </div>

    <div class="item item--list">
      <div class="heading heading--event">
        <h2 class="heading__title heading__title--event">Event ends in</h2>
      </div>

      <%= render "countdown", current_time: DateTime.now, end_time: @event.end_datetime %>

      <small>
        <span>Starts at: <%= @event.start_datetime.strftime("%e %B %Y, %T %Z") %></span><br>
        <span>Ends at: <%= @event.end_datetime.strftime("%e %B %Y, %T %Z") %></span>
      </small>
    </div>

    <div class="item item--list">
      <div class="heading heading--event">
        <h2 class="heading__title heading__title--event">Prices</h2>
      </div>
      <div class="event__prices">
        <div class="event__prices-top3">
          <div class="event__prices-number event__prices-number--one">
            <div class="flag__badge">
              <span class="event__position">1</span>
              <%= inline_svg("badges/levels/top3_event.svg") %>
            </div>
            <span class="event__price">&euro;50</span>
          </div>
          <div class="event__prices-number event__prices-number--two">
            <div class="flag__badge">
              <span class="event__position">2</span>
              <%= inline_svg("badges/levels/top3_event.svg") %>
            </div>
            <span class="event__price">&euro;25</span>
          </div>
          <div class="event__prices-number event__prices-number--three">
            <div class="flag__badge">
              <span class="event__position">3</span>
              <%= inline_svg("badges/levels/top3_event.svg") %>
            </div>
            <span class="event__price">&euro;10</span>
          </div>
        </div>
        <small class="event__prices-desc">Paysafecard of zoiets.</small>
        <div class="event__badges-wrapper">
          <h2 class="badges__title">S01 Pistol Kills Badge</h2>
          <div class="event__badges">
            <div class="event__badge">
              <%= image_tag "badges/events/pistol_kills01/leaderboard_badge.png" %>
            </div>
            <div class="event__badge">
              <%= image_tag "badges/events/pistol_kills01/winner.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div class="list-content__content">
    <div class="item event__leaderboard">
      <% sorted_event_signups.each_with_index do |event_signup, index| %>
        <%= render "leaderboard_item", event_signup: event_signup, item_counter: index + 1 %>
      <% end %>
    </div>
  </div>
</div>
