<div class="event-top__flag"
  style="background-image: url(<%= image_path "legends/#{ get_last_played_event_legend(event_signup.profile_uid).downcase }/banner.webp" %>)"
  data-role="leaderboard-flag">
  <span class="flag__name"><%= get_username_for_claimed_profile_uid(event_signup.profile_uid) %></span>

  <div class="flag__score">
    <div class="flag__badge">
      <span class="flag__badge-position"></span>
      <%= inline_svg("badges/levels/top3_event.svg") %>
    </div>

    <div class="flag__eventscore">
      <span class="eventscore__name"><%= JSON.parse(@event.data_names).first.humanize %></span>
      <span class="eventscore__score"><%= event_signup.total_value %></span>
    </div>
  </div>
</div>
