<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= f.label :description, class: "form-label", class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </p>

  <h4>Data Values</h4>

  <p>
    <%= f.label :data_names, class: "form-label" %>
    <%= f.text_field :data_names, class: "form-control" %>
  </p>

  <p>
    <%= f.label :legends, class: "form-label" %>
    <%= f.select(:legends, legends_list,
                        { include_blank: "All" },
                        { multiple: true, size: 5 }) %>
  </p>

  <h4>Dates</h4>

  <div class="columns">
    <p class="columns__column columns__column--spacing">
      <%= f.label :start_datetime, class: "form-label" %>
      <%= f.datetime_field :start_datetime, class: "form-control" %>
    </p>

    <p class="columns__column">
      <%= f.label :end_datetime, class: "form-label" %>
      <%= f.datetime_field :end_datetime, class: "form-control" %>
    </p>
  </div>

  <h4>Rewards</h4>

  <div class="columns">
    <p class="columns__column columns__column--spacing">
      <%= f.label :reward_first_place, "First place", class: "form-label" %>
      <%= f.text_field :reward_first_place, class: "form-control" %>
    </p>

    <p class="columns__column columns__column--spacing">
      <%= f.label :reward_second_place, "Second place", class: "form-label" %>
      <%= f.text_field :reward_second_place, class: "form-control" %>
    </p>

    <p class="columns__column">
      <%= f.label :reward_third_place, "Third place", class: "form-label" %>
      <%= f.text_field :reward_third_place, class: "form-control" %>
    </p>
  </div>

  <h4>Badges</h4>

  <div class="columns">
    <p class="columns__column columns__column--spacing">
      <%= f.label :badge_id_first_place, "First place", class: "form-label" %>
      <%= f.select(:badge_id_first_place, Badge.all.collect { |badge| [badge.title, badge.id] }) %>
    </p>

    <p class="columns__column columns__column">
      <%= f.label :badge_id_participation, "Participation", class: "form-label" %>
      <%= f.select(:badge_id_participation, Badge.all.collect { |badge| [badge.title, badge.id] }) %>
    </p>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update Event", class: "button-alternative" %>
  </div>
<% end %>
