<div class="leaderboard__item
  <%= "leaderboard__item--is-owned" if current_user && event_signup.user_id == current_user.id %>
  <%= "leaderboard__item--first svg-badge-gold" if item_counter == 1 %>
  <%= "leaderboard__item--second svg-badge-silver" if item_counter == 2 %>
  <%= "leaderboard__item--third svg-badge-bronze" if item_counter == 3 %>
  <%= "svg-badge-basic" if item_counter > 3 %>"
  data-role="leaderboard-item"
  data-leaderboard-item="<%= event_signup.profile_uid %>">

  <div class="leaderboard__item-content">
    <div class="leaderboard__left">
      <div class="leaderboard__badge">
        <span class="leaderboard__position"><%= item_counter %></span>

        <%= inline_svg "badges/levels/top3_event.svg" if item_counter <= 3 %>
        <%= inline_svg "badges/levels/top4_10_event.svg" if item_counter > 3 && item_counter < 11 %>
        <%= inline_svg "badges/levels/top11_20_event.svg" if item_counter > 10 && item_counter < 21 %>
        <%= inline_svg "badges/levels/top21_50_event.svg" if item_counter > 20 %>
      </div>

      <span class="leaderboard__name"><%= get_username_for_claimed_profile_uid(event_signup.profile_uid) %></span>
    </div>
    <div class="leaderboard__right">
      <div class="leaderboard__score">
        <span class="leaderboard__score-name"><%= JSON.parse(@event.data_names).first.humanize %></span>
        <span class="leaderboard__score-total" data-role="leaderboard-total-value"><%= event_signup.total_value %></span>
      </div>

      <%= link_to "View profile", profile_path_by_uid(event_signup.profile_uid), class: "leaderboard__action" %>
    </div>
  </div>
</div>
