<div class="event-top event-top--soon">
  <h1 class="event__top-title"><%= @event.title %></h1>
  <h3 class="event__top-subtitle">Event is starting in</h3>

  <%= render "countdown", extra_classes: "event__time-wrapper--large", current_time: DateTime.now, start_time: @event.start_datetime %>
</div>

<div class="wrapper wrapper--small">
  <div class="item item--full-width">
    <div class="heading heading--event">
      <h2 class="heading__title heading__title--event"><%= @event.title %></h2>
    </div>

    <%= @event.description %>
  </div>

  <div class="item item--full-width">
    <div class="heading heading--event">
      <h2 class="heading__title heading__title--event">Sign up</h2>
    </div>

    <br>

    <%= render "event_signups/form" %>

    <% @event.event_signups.each do |event_signup| %>
      <%= event_signup.user_id %>: <%= event_signup.profile_uid %>
    <% end %>
  </div>

  <div class="item item--full-width">
    <small class="event__small"><span><%= @event.start_datetime %></span> - <span><%= @event.end_datetime %></span></small>
    <div class="heading heading--event">
      <h2 class="heading__title heading__title--event">Starting soon</h2>
    </div>

    <div class="event__time-information">
      <span class="event__time event__info">Event starting soon</span>
    </div>
  </div>
</div>
