<div class="rewards">
  <div class="rewards__badges">
    <div class="rewards__item svg-badge-gold">
      <div class="rewards__badge">
        <span class="rewards__position">1</span>
        <%= inline_svg("badges/levels/top3_event.svg") %>
      </div>

      <span class="rewards__item-description">
        First place
        <strong>&euro;50</strong>
      </span>
    </div>

    <div class="rewards__item svg-badge-silver">
      <div class="rewards__badge">
        <span class="rewards__position">2</span>
        <%= inline_svg("badges/levels/top3_event.svg") %>
      </div>

      <span class="rewards__item-description">
        Second place
        <strong>&euro;25</strong>
      </span>
    </div>

    <div class="rewards__item svg-badge-bronze">
      <div class="rewards__badge">
        <span class="rewards__position">3</span>
        <%= inline_svg("badges/levels/top3_event.svg") %>
      </div>

      <span class="rewards__item-description">
        Third place
        <strong>&euro;50</strong>
      </span>
    </div>
  </div>

  <small class="rewards__description">Rewards are distributed in the form of a PaySafeCard.</small>

  <div class="event__badges-wrapper">
    <div class="heading mt-0 mb-20">
      <h3 class="heading__title heading__title">Badges</h3>
    </div>

    <p>
      <center><small>Badges are displayed on your profile.</small></center>
    </p>

    <div class="event__badges">
      <div class="event__badge">
        <%= image_tag "badges/events/pistol_kills01/winner.png" %>

        <center><small>First place badge</small></center>
      </div>

      <div class="event__badge">
        <%= image_tag "badges/events/pistol_kills01/leaderboard_badge.png" %>

        <center><small>Participation badge</small></center>
      </div>
    </div>
  </div>
</div>
