<div class="rewards">
  <div class="rewards__badges">
    <% if @event.reward_first_place %>
      <div class="rewards__item svg-badge-gold">
        <div class="rewards__badge">
          <span class="rewards__position">1</span>
          <%= inline_svg("badges/levels/top3_event.svg") %>
        </div>

        <span class="rewards__item-description">
          First place
          <strong><%= @event.reward_first_place %></strong>
        </span>
      </div>
    <% end %>

    <% if @event.reward_second_place %>
      <div class="rewards__item svg-badge-silver">
        <div class="rewards__badge">
          <span class="rewards__position">2</span>
          <%= inline_svg("badges/levels/top3_event.svg") %>
        </div>

        <span class="rewards__item-description">
          Second place
          <strong><%= @event.reward_second_place %></strong>
        </span>
      </div>
    <% end %>

    <% if @event.reward_third_place %>
      <div class="rewards__item svg-badge-bronze">
        <div class="rewards__badge">
          <span class="rewards__position">3</span>
          <%= inline_svg("badges/levels/top3_event.svg") %>
        </div>

        <span class="rewards__item-description">
          Third place
          <strong><%= @event.reward_third_place %></strong>
        </span>
      </div>
    <% end %>
  </div>

  <small class="rewards__description">Rewards are distributed in the form of a PaySafeCard.</small>

  <div class="event__badges-wrapper">
    <div class="heading mt-0 mb-20">
      <h3 class="heading__title heading__title">Badges</h3>
    </div>

    <p>
      <center><small>Badges are displayed on your profile.</small></center>
    </p>

    <div class="event__badges">
      <% if @event.badge_id_first_place %>
        <% badge = Badge.find(@event.badge_id_first_place) %>

        <div class="event__badge">
          <%= image_tag badge.image if asset_exists?(badge.image) %>

          <center><small>First place badge</small></center>
        </div>
      <% end %>

      <% if @event.badge_id_participation %>
        <% badge = Badge.find(@event.badge_id_participation) %>

        <div class="event__badge">
          <%= image_tag badge.image if asset_exists?(badge.image) %>

          <center><small>Participation badge</small></center>
        </div>
      <% end %>
    </div>
  </div>
</div>
