<% content_for :page_title, "Events" %>
<% content_for :extra_style,
  "body { background-image: url(#{image_path("gradient-bg/sm/event.png")}) }
  @media (min-width: 640px) { body { background-image: url(#{image_path("gradient-bg/md/event.png")}) }}
  @media (min-width: 768px) { body { background-image: url(#{image_path("gradient-bg/lg/event.png")}) }}" %>

<div class="wrapper wrapper--tiny">
  <center><h1>Events</h1></center>

  <center>
    <p class="no-text-transform">
      <big>Looking to spice up your game and have a chance at earning prizes in the process?<br><span class="color-basic">Join our Events for free!</span></big>
    </p>

    <p class="no-text-transform">
      Simply <%= link_to "sign up", login_path %>, set up your profile, and play! No need to keep track of your progress or submit your games. We keep track of it all automatically.
    </p>
  </center>
</div>

<% if ENV['BANNER_EVENT'] %>
  <div class="top-offset">
    <%= render "banners/#{ ENV["BANNER_EVENT"] }", url: ENV["BANNER_EVENT_URL"] %>
  </div>
<% end %>

<div class="wrapper wrapper--medium">
  <% if @events.where("start_datetime < ?", DateTime.now).where("end_datetime > ?", DateTime.now).any? %>
    <div class="heading top-offset">
      <h2 class="heading__title">Running Events</h2>
    </div>

    <div class="items">
      <%= render @events.where("start_datetime < ?", DateTime.now).where("end_datetime > ?", DateTime.now) %>
    </div>
  <% end %>

    <div class="heading top-offset">
      <h2 class="heading__title">Upcoming Events</h2>
    </div>

    <div class="items">
      <% if @events.where("start_datetime > ?", DateTime.now).any? %>
        <%= render @events.where("start_datetime > ?", DateTime.now) %>
      <% else %>
        <p><em>There are currently no upcoming events. Please check back later</em></p>
      <% end %>
    </div>

  <% if @events.where("end_datetime < ?", DateTime.now).any? %>
    <div class="heading top-offset">
      <h2 class="heading__title">Finished Events</h2>
    </div>

    <div class="items">
      <%= render @events.where("end_datetime < ?", DateTime.now) %>
    </div>
  <% end %>
</div>
