<div class="event-background">
  <div class="event-background__gradient-left"></div>
  <div class="event-background__gradient-top"></div>
  <div class="event-background__image">
    <%= image_tag("layout/event_bg.jpg") %>
  </div>
</div>

<div class="event-top">
  <div class="event__flags">
    <div class="event-top__flag event-top__flag--second" style="background-image:url(https://www.apexdata.gg/assets/legends/caustic/banner-1d466ca37a94e0a07c87444a0df81ec0a117c943d2b2d773ab96c78892176f9f.webp);">
      <span class="flag__name">Mitsiee</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">2</span>
          <%= inline_svg("badges/levels/top10_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
    <div class="event-top__flag event-top__flag--first" style="background-image:url(https://www.apexdata.gg/assets/legends/pathfinder/banner-9de39418433e445cc4c10b1d5763ca5817e3883225d4ef58d672bba934541b46.webp);">
      <span class="flag__name">GuardianXT705</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">1</span>
          <%= inline_svg("badges/levels/top10_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
    <div class="event-top__flag event-top__flag--third" style="background-image:url(https://www.apexdata.gg/assets/legends/gibraltar/banner-7955e778dd3cef6979c4cef5a9f05867d55974ab13e29f709da6b08a894ab53b.webp);">
      <span class="flag__name">Doldoc</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">3</span>
          <%= inline_svg("badges/levels/top10_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-content">
  <aside class="list-content__sidebar">
    <div class="item item--list">
      <div class="heading">
        <h2 class="heading__title"><%= @event.title %></h2>
      </div>

      <%= form_for :event_signup, url: event_signups_path, remote: true do |form| %>
        <div class="form-field">
          <% if @claimed_profiles.many? %>
            <%= form.label :claimed_profile, "What profile would you like to join with?", class: "form-label" %>
            <%= form.select :claimed_profile, @claimed_profiles.collect {|p| [p.username, p.profile_uid]} %>
            <div class="form-hint">Select the profile you would like to join with. You can join with multiple Profiles, but they will be counted seperately.</div>
          <% else %>
            <%= form.hidden_field :claimed_profile, value: @claimed_profiles.first.profile_uid %>
          <% end %>
        </div>

        <%= form.submit "Sign up for event", class: "button" %>
      <% end %>

      <div class="top-offset">
        <% @event_signups.each do |event_signup| %>
          <%= event_signup.user_id %> <br>
          <%= event_signup.profile_uid %>
        <% end %>
      </div>
    </div>
  </aside>

  <div class="list-content__content">
    dwadaw
  </div>
</div>
