<div class="event-background">
  <div class="event-background__gradient-left"></div>
  <div class="event-background__gradient-top"></div>
  <div class="event-background__image">
    <%= image_tag("layout/event_bg.jpg") %>
  </div>
</div>

<div class="event-top">
  <div class="event__flags">
    <div class="event-top__flag event-top__flag--second" style="background-image: url(<%= image_path "legends/bloodhound/banner.webp" %>)">
      <span class="flag__name">Mitsiee</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">2</span>
          <%= inline_svg("badges/levels/top3_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
    <div class="event-top__flag event-top__flag--first" style="background-image: url(<%= image_path "legends/pathfinder/banner.webp" %>)">
      <span class="flag__name">GuardianXT705</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">1</span>
          <%= inline_svg("badges/levels/top3_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
    <div class="event-top__flag event-top__flag--third" style="background-image: url(<%= image_path "legends/gibraltar/banner.webp" %>)">
      <span class="flag__name">Doldoc</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">3</span>
          <%= inline_svg("badges/levels/top3_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-content">
  <aside class="list-content__sidebar">
    <div class="item item--list">
      <div class="heading">
        <h2 class="heading__title"><%= @event.title %></h2>
      </div>

      <%= form_for :event_signup, url: event_signups_path, remote: true do |form| %>
        <div class="form-field">
          <% if @claimed_profiles.many? %>
            <%= form.label :claimed_profile, "What profile would you like to join with?", class: "form-label" %>
            <%= form.select :claimed_profile, @claimed_profiles.collect {|p| [p.username, p.profile_uid]} %>
            <div class="form-hint">Select the profile you would like to join with. You can join with multiple Profiles, but they will be counted seperately.</div>
          <% else %>
            <%= form.hidden_field :claimed_profile, value: @claimed_profiles.first.profile_uid %>
          <% end %>
        </div>

        <%= form.submit "Sign up for event", class: "button" %>
      <% end %>

      <div class="top-offset">
        <% @event_signups.each do |event_signup| %>
          <%= event_signup.user_id %> <br>
          <%= event_signup.profile_uid %>
        <% end %>
      </div>
    </div>
  </aside>

  <div class="list-content__content">
    <div class="item event__leaderboard">

      <div class="leaderboard__item leaderboard__item--first">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">1</span>
            <%= inline_svg("badges/levels/top3_event.svg") %>
          </div>
          <span class="leaderboard__name">GuardianXT705</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">687</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item leaderboard__item--second">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">2</span>
            <%= inline_svg("badges/levels/top3_event.svg") %>
          </div>
          <span class="leaderboard__name">Mitsiee</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">643</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item leaderboard__item--third">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">3</span>
            <%= inline_svg("badges/levels/top3_event.svg") %>
          </div>
          <span class="leaderboard__name">Doldoc</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">534</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">4</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">Valhall</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">500</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">5</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">ApexPlayer</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">476</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">6</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">7</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">8</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">9</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">10</span>
            <%= inline_svg("badges/levels/top4_10_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">11</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">12</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">13</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">14</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">15</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">16</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">17</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">18</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">19</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">20</span>
            <%= inline_svg("badges/levels/top11_20_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">21</span>
            <%= inline_svg("badges/levels/top21_50_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">22</span>
            <%= inline_svg("badges/levels/top21_50_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">23</span>
            <%= inline_svg("badges/levels/top21_50_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">24</span>
            <%= inline_svg("badges/levels/top21_50_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

      <div class="leaderboard__item">
        <div class="leaderboard__left">
          <div class="leaderboard__badge">
            <span class="leaderboard__position">25</span>
            <%= inline_svg("badges/levels/top21_50_event.svg") %>
          </div>
          <span class="leaderboard__name">vissTSM</span>
        </div>
        <div class="leaderboard__right">
          <div class="leaderboard__score">
            <span class="leaderboard__score-name">Pistol Kills</span>
            <span class="leaderboard__score-total">465</span>
          </div>
          <a class="leaderboard__action" href="">See profile</a>
        </div>
      </div>

    </div>
  </div>
</div>
