<article class="item item--compact item--legends">
  <div class="item__content item__content--same-height">
    <div class="item__description">
      <div class="item__large-icon-wrapper">
        <%= image_tag "legends/#{ item["name"] }/character.png", class: "item__large-icon item__legend", alt: item["name"] %>
      </div>

      <div class="item__title heading heading--small">
        <h3 class="heading__title"><%= item["name"] if item["name"] %></h3>
        <div class="heading__line"></div>
      </div>

      <div class="item__data-wrapper">
        <div class="item__main">
          <div class="columns columns--abilities">
            <% item["abilities"].each do |key, ability| %>
              <div class="item__full-width-info item__full-width-info--image">
                <%= image_tag "legends/#{ item["name"] }/#{ key }.png", alt: ability["name"] %>

                <div>
                  <span class="color-basic"><%= ability["name"] %></span>
                  <small class="no-text-transform"><%= ability["desc"] %></small>
                </div>
              </div>
            <% end if item["abilities"] %>
          </div>

          <div class="item__full-width-info">
            <div>
              <span class="color-basic">More soon</span>
              <small class="no-text-transform">Individual pages coming soon</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
