<% content_for :page_title, "Attachments" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Stocks", page_path("attachments") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/attachment", collection: attachments.select { |attachment| attachment["type"] == "stock" }, as: :item, cached: true%>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Barrels", page_path("attachments") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/attachment", collection: attachments.select { |attachment| attachment["type"] == "barrel" }, as: :item, cached: true%>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Magazines", page_path("attachments") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/attachment", collection: attachments.select { |attachment| attachment["type"] == "magazine" }, as: :item, cached: true%>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Hop-ups", page_path("attachments") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/attachment", collection: attachments.select { |attachment| attachment["type"] == "hop-up" }, as: :item, cached: true%>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Optics", page_path("attachments") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/attachment", collection: attachments.select { |attachment| attachment["type"] == "optic" }, as: :item, cached: true%>
</div>
