<div class="heading">
  <h2 class="heading__title">New</h2>
</div>

<div class="items">
  <%= render partial: "item", collection: weapons.select { |weapon| weapon["name"] == "Havoc" }, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Assault Rifles", page_path("assault-rifles") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: assault_rifles, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Sub Machine Guns", page_path("sub-machine-guns") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: sub_machine_guns, as: :item %>
</div>

<%= render "ad" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Pistols", page_path("pistols") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: pistols, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Light Machine Guns", page_path("light-machine-guns") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: light_machine_guns, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Sniper Rifles", page_path("sniper-rifles") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: sniper_rifles, as: :item %>
</div>

<%= render "ad" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Shotguns", page_path("shotguns") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: shotguns, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Grenades", page_path("grenades") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/grenade", collection: grenades, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Consumables", page_path("consumables") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/consumable", collection: consumables, as: :item %>
</div>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Equipment", page_path("equipment") %></h2>
</div>

<div class="items">
  <%= render partial: "pages/item_types/equipment", collection: equipment, as: :item %>
</div>
