<h1><%= link_to "Sub Machine Guns", page_path("sub_machine_guns") %></h1>

<%= render "pages/sub_machine_guns/alternator" %>

<h1><%= link_to "Assault Rifles", page_path("assault_rifles") %></h1>

<%= render "pages/assault_rifles/flatline" %>
<%= render "pages/assault_rifles/hemlok" %>
