<h1><%= link_to "Sub Machine Guns", page_path("sub-machine-guns") %></h1>

<%= render "pages/sub_machine_guns/alternator" %>
<%= render "pages/sub_machine_guns/r-99" %>
<%= render "pages/sub_machine_guns/prowler" %>

<h1><%= link_to "Assault Rifles", page_path("assault-rifles") %></h1>

<%= render "pages/assault_rifles/flatline" %>
<%= render "pages/assault_rifles/hemlok" %>
<%= render "pages/assault_rifles/r-301" %>

<h1><%= link_to "Light Machine Guns", page_path("light-machine-guns") %></h1>

<%= render "pages/light_machine_guns/devotion" %>
<%= render "pages/light_machine_guns/spitfire" %>

<h1><%= link_to "Pistols", page_path("pistols") %></h1>

<%= render "pages/pistols/p2020" %>
<%= render "pages/pistols/re-45" %>
<%= render "pages/pistols/wingman" %>
