<%= render "banners/search" if Flipper.enabled?(:profiles) %>

<% unless Flipper.enabled?(:login) %>
  <div class="alert">Player profiles and login are temporarily offline while we investigate server issues</div>
<% end %>

<div class="heading top-offset">
  <h2 class="heading__title">Legends</h2>
</div>

<%= render "legends/legends_banner" %>

<div class="heading top-offset">
  <h2 class="heading__title">Weapons</h2>
</div>

<div class="item-columns" data-item-columns-main>
  <%= render "pages/item_columns/mobile_navigation" %>

  <main class="item-columns__main">
    <aside class="item-columns__sidebar">
      <%= link_to "Assault Rifles", "#", class: "item-columns__sidebar-item item-columns__sidebar-item--is-active", data: { action: "item-columns-change-category", target: "assault-rifles" } %>
      <%= link_to "Sub Machine Guns", "#", class: "item-columns__sidebar-item", data: { action: "item-columns-change-category", target: "sub-machine-guns" } %>
      <%= link_to "Light Machine Guns", "#", class: "item-columns__sidebar-item", data: { action: "item-columns-change-category", target: "light-machine-guns" } %>
      <%= link_to "Shotguns", "#", class: "item-columns__sidebar-item", data: { action: "item-columns-change-category", target: "shotguns" } %>
      <%= link_to "Sniper Rifles", "#", class: "item-columns__sidebar-item", data: { action: "item-columns-change-category", target: "sniper-rifles" } %>
      <%= link_to "Pistols", "#", class: "item-columns__sidebar-item", data: { action: "item-columns-change-category", target: "pistols" } %>

      <%= render "sort/filter", active: "weapons" %>
    </aside>

    <%= render "pages/item_columns/weapons", block_id: "assault-rifles", items: assault_rifles, is_active: true %>
    <%= render "pages/item_columns/weapons", block_id: "sub-machine-guns", items: sub_machine_guns %>
    <%= render "pages/item_columns/weapons", block_id: "light-machine-guns", items: light_machine_guns %>
    <%= render "pages/item_columns/weapons", block_id: "shotguns", items: shotguns %>
    <%= render "pages/item_columns/weapons", block_id: "sniper-rifles", items: sniper_rifles %>
    <%= render "pages/item_columns/weapons", block_id: "pistols", items: pistols %>
  </main>
</div>
