<% content_for :page_title, "Patch Notes" %>

<div class="wrapper wrapper--small no-text-transform">
  <div class="heading">
    <h2 class="heading__title">Patch Notes Archive</h2>
  </div>

  <p><%= link_to "4.16.2019 - Patch 1.1.1 - (Latest)", page_path("patch-notes/4-16-2019"), class: "button" %></p>
  <p><%= link_to "4.3.2019 - Patch 1.1", page_path("patch-notes/4-3-2019"), class: "button button--secondary m-0" %></p>
  <p><%= link_to "3.19.2019 - Season 1: Wild Frontier", page_path("patch-notes/3-19-2019"), class: "button button--secondary m-0" %></p>
  <p><%= link_to "3.6.2019", page_path("patch-notes/3-6-2019"), class: "button button--secondary m-0" %></p>
  <p><%= link_to "2.19.2019 - Patch Notes 02", page_path("patch-notes/2-19-2019"), class: "button button--secondary m-0" %></p>
  <p><%= link_to "2.13.2019 - Patch Notes 01", page_path("patch-notes/2-13-2019"), class: "button button--secondary m-0" %></p>
</div>
