<div class=" wrapper wrapper--small">
  <div class="heading">
    <h2 class="heading__title">Weapon Tier List</h2>
  </div>

  <p class="no-text-transform">
    <em>We've compiled a list of what we believe are the best and worst weapons in Apex Legends. This list is highly subjective and is mostly down to personal preference and skill. We've compiled this list by comparing preferences from well known players as well as our own opinion.</em>
  </p>

  <em>
    <small>Last Updated: March 8, 2019</small>
  </em>

  <div class="tierlist">
    <% tierlist.each do |tier| %>
      <div class="tierlist__row">
        <div class="tierlist__legend">
          <%= tier["designation"] %>
        </div>

        <div class="tierlist__content">
          <% tier["items"].each do |item| %>
            <%= link_to "##{ item["name"] }", class: "tierlist__item" do %>
              <%= image_tag "weapons/icons/#{ item["name"] }.png" if asset_exists? "weapons/icons/#{ item["name"] }.png" %>
              <span><%= item["name"].humanize %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="strawpoll-tierlist">
    <div class="heading heading--small">
      <h3 class="heading__title">Community Vote</h3>
    </div>

    <p class="no-text-transform"><big>Do you not agree with our list? Vote for what in your opinion is the best gun!</big></p>

    <%= link_to "Vote on Strawpoll", "https://www.strawpoll.me/17575463", class: "button button--primary button--full-width", target: "_blank" %>

    <br><br>

    <div data-role="strawpoll-tierlist" data-url="https://strawpoll.me/api/v2/polls/17575463">Loading...</div>
  </div>
</div>

<%= render "ad" %>

<div class=" wrapper wrapper--small">
  <div class="tierlist-description">
    <% tierlist.each do |tier| %>
      <div class="tierlist-description__title heading heading--small">
        <h3 class="heading__title"><%= tier["designation"] %></h3>
      </div>

      <p>
        <big><em>
          <%= tier["description"] %>
        </em></big>
      </p>

      <% tier["items"].each do |item| %>
        <div class="tierlist-description__item">
          <h4 id="<%= item["name"] %>"><%= item["name"].humanize %></h4>

          <% unless compact? %>
            <%= tag.div class: "tierlist-description__image" do %>
              <picture>
                <source srcset="<%= image_url "weapons/webp/#{ item["name"] }.webp" %>" type="image/webp">
                <source srcset="<%= image_url "weapons/#{ item["name"] }.jpg" %>" type="image/jpeg">
                <%= image_tag "weapons/#{ item["name"] }.jpg", alt: item["name"].humanize %>
              </picture>
            <% end if asset_exists?("weapons/#{ item["name"] }.jpg") %>
          <% end %>

          <%= item["description"].html_safe %>

          <%= link_to "View data", where_path("name", item["name"]), class: "button" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
