<div class="circle-graph" data-role="circle-graph" data-target="<%= target %>">
  <div class="circle-graph__label">
    <%= label %>
    <h4 data-role="circle-graph-value" data-compare-circle="<%= target %>" data-modify-target="<%= modify_target %>" data-target="<%= target %>"></h4>
    <% if defined?(damage_modifier) %>
      <div class="circle-graph__extra-modifier" data-role="damage-modifier"></div>
    <% end %>

    <% if defined?(extra_damage) %>
      <div class="circle-graph__extra-modifier" data-role="extra-damage"></div>
    <% end %>
  </div>

  <div class="circle-graph__graph">
    <div class="circle-graph__bar" data-max="<%= max %>" data-role="circle-graph-bar"></div>
  </div>
</div>
