<% is_active = is_active || false %>

<% cache block_id do %>
  <div class="item-columns__content" item-columns-target="<%= block_id %>" style="<%= "display: none" if !is_active %>">
    <nav class="item-columns__center">
      <% items.each do |item| %>
        <div class="item-columns__item"
          data-action="item-columns-change-details"
          data-columns-data="<%= item.except("spray_pattern", "attachments_overwrite").to_json %>"
          data-icon-source="<%= image_url "weapons/icons/#{ item["name"].downcase.gsub(" ", "_") }.png" if asset_exists? "weapons/icons/#{ item["name"].downcase.gsub(" ", "_") }.png" %>"
          data-compare-source="<%= item["name"].downcase.gsub(" ", "_") %>">
          <div class="item-columns__item-name">
            <%= item["name"] %>
          </div>

          <div class="item-columns__item-extra">
            <%= tag.div do %>
              <%= image_tag "fire_mode/single.png", alt: "Single Fire", title: "Single Fire" if item["fire_modes"]["single"] %>
              <%= image_tag "fire_mode/auto.png", alt: "Automatic Fire", title: "Automatic Fire" if item["fire_modes"]["auto"] %>
              <%= image_tag "fire_mode/burst.png", alt: "Burst Fire)", title: "Burst Fire ( #{item["fire_modes"]["burst"] } Shots )" if item["fire_modes"]["burst"] %>
            <% end if item["fire_modes"] %>

            <%= link_to image_tag("ammo_types/#{ item["ammo_type"] }.png", alt: item["ammo_type"].humanize + " ammo", title: item["ammo_type"].humanize + " ammo"), where_path("ammo-type", item["ammo_type"].dasherize) if item["ammo_type"] %>
          </div>

          <% image_path = asset_exists?("weapons/jpg/#{ item["name"].downcase.gsub(" ", "_") }.jpg") ? "#{ item["name"].downcase.gsub(" ", "_") }" : "placeholder" %>
          <div class="item-columns__item-background">
            <picture>
              <source srcset="<%= image_url "weapons/webp/small/#{ image_path }.webp" %>" type="image/webp">
              <source srcset="<%= image_url "weapons/webp/#{ image_path }.webp" %>" type="image/webp">
              <source srcset="<%= image_url "weapons/jpg/small/#{ image_path }.jpg" %>" type="image/jpeg">
              <source srcset="<%= image_url "weapons/jpg/#{ image_path }.jpg" %>" type="image/jpeg">
              <%= image_tag "weapons/jpg/#{ image_path }.jpg", class: "item__image", alt: item["name"].humanize %>
            </picture>
          </div>
        </div>
      <% end %>
    </nav>

    <article class="item-columns__detail" data-role="item-columns-details">
      <div class="item-columns__detail-content">
        <div class="item-columns__detail-title">
          <h3 data-role="static-value" data-target="name"></h3>
          <img src="" data-role="item-columns-detail-icon" />
        </div>

        <div class="item-columns__compare-actions" data-role="compare-actions">
          <%= link_to image_tag("icons/icon-compare.png", height: 14) + "Use to Compare", "#", class: "button button--small button--compare", data: { action: "compare" } %>
        </div>

        <div class="item-columns__radial-graphs">
          <%= render "pages/item_columns/radial_graph", target: "damage", label: "DMG", max: get_max_value(items, "damage"), modify_target: "damage_modifier", damage_modifier: true, extra_damage: true %>
          <%= render "pages/item_columns/radial_graph", target: "rate_of_fire", label: "RPM", max: get_max_value(items, "rate_of_fire"), modify_target: "rate_of_fire" %>
        </div>

        <%= render "pages/item_columns/bar_graph", target: "damage_per_second", label: "Damage per second", max: get_max_value(items, "damage_per_second") %>
        <%= render "pages/item_columns/bar_graph", target: "headshot_damage", modify_target: "headshot_damage_modifier", label: "Headshot damage", max: get_max_value(items, "headshot_damage") %>
        <%= render "pages/item_columns/bar_graph", target: "legshot_damage", label: "Legshot damage", max: get_max_value(items, "legshot_damage") %>
        <%= render "pages/item_columns/bar_graph", target: "damage_per_magazine", label: "Damage per mag", modify_target: "ammo_increase", max: get_max_value(items, "damage_per_magazine") %>

        <%= link_to "How is 'damage per second' calculated?", "#", class: "link-small", data: { action: "toggle", target: "dps-explanation" } %>

        <div data-is="dps-explanation" style="display: none">
          <small>
            <p>Damage per second is <strong>not</strong> the average damage dealt with body shots in 1 second. It's a realistic amount of damage you can deal in a 1 second slice. If a weapon can fire 1.5 shots a second, we only count 1 shot. That .5 of a shot can not be realistically dealt.</p>
            <p>Here are additional values that might interest you:</p>
          </small>

          <%= render "pages/item_columns/bar_graph", target: "average_dps", label: "Average dps/sec.", max: get_max_value(items, "average_dps") %>
          <%= render "pages/item_columns/bar_graph", target: "headshot_dps", label: "Headshot dps", max: get_max_value(items, "headshot_dps") %>
          <%= render "pages/item_columns/bar_graph", target: "legshot_dps", label: "Legshot dps", max: get_max_value(items, "legshot_dps") %>
        </div>

        <hr>

        <%= render "pages/item_columns/static_value", target: "ammo_capacity", modify_target: "ammo_increase", modify_round: true, label: "Ammo capacity" %>
        <%= render "pages/item_columns/static_value", target: "projectile_speed", modify_target: "projectile_speed", label: "Projectile speed", identifier: "m/s" %>
        <%= render "pages/item_columns/static_value", target: "tactical_reload", modify_target: "reload_time", compare_inverse: true, label: "Tactical reload", identifier: "s" %>
        <%= render "pages/item_columns/static_value", target: "empty_reload", modify_target: "reload_time", compare_inverse: true, label: "Empty reload", identifier: "s" %>
        <%= render "pages/item_columns/static_value", target: "draw_time", modify_target: "draw_time", compare_inverse: true, label: "Draw time", identifier: "s" %>
        <%= render "pages/item_columns/static_value", target: "holster_time", modify_target: "holster_time", compare_inverse: true, label: "Holster time", identifier: "s" %>
        <%= render "pages/item_columns/static_value", target: "charge_time", modify_target: "charge_time", compare_inverse: true, label: "Charge time", identifier: "s" %>

        <% items.each do |item| %>
          <div class="item-columns__detail-extra-static-content" data-extra-static-content="<%= item["name"].downcase.gsub(" ", "_") %>">
            <% if item["available_attachments"] %>
              <h5>Attachments</h5>

              <%= render "pages/item_columns/attachments_table", item: item %>
              <small class="tiny-help">Click on the icons to see how the values would change by adding the attachment. These values are rough estimates.</small>
            <% end %>

            <% if item["spray_pattern"] %>
              <h5>Spray pattern</h5>
              <small class="tiny-help">The spray pattern is based on a basic weapon without attachments, shot while aiming. Try adding a barrel attachment to see this pattern change.</small>

              <%= render "pages/spray_pattern", spray: item["spray_pattern"] %>
            <% end %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
<% end %>
