<% content_for :page_title, "Apex Legends Server Status" %>

<div class="wrapper wrapper--small no-text-transform">
  <div class="heading mb-0">
    <h2 class="heading__title">Apex Legends Server Status</h2>
  </div>

  <p>
    <small>The server status is checked every 10 minutes. Last check was at <%= @server_status.last.updated_at %></small>
  </p>

  <div class="top-offset"></div>

  <div class="relative">
    <nav class="scroll-spy" data-role="scroll-spy">
      <% @server_status.group_by(&:group).each do |server_group, hosts| %>
        <%= link_to server_group.titleize, "##{to_slug(server_group)}", class: "scroll-spy__item scroll-spy__item--large" %>
      <% end %>
    </nav>
  </div>

  <% @server_status.group_by(&:group).each do |server_group, hosts| %>
    <h3 class="mt-0" id="<%= to_slug(server_group) %>"><%= server_group.titleize %></h3>

    <div class="server-status">
      <% hosts.each do |server_status| %>
        <% status = "operational" %>
        <% if server_status.response_time > 0.5 %>
          <% status = "unstable" %>
        <% elsif server_status.response_time == 0 %>
          <% status = "unavailable" %>
        <% end %>

        <div class="server-status__item server-status__item--<%= status %>">
          <div class="server-status__name">
            <%= server_status.display %>
          </div>

          <div class="server-status__ping">
            <%= (server_status.response_time * 1000).round %> ms
          </div>

          <div class="server-status__status">
            <%= status.humanize %>
            <div class="server-status__bubble"></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
