console.log("Platform: <%= @platform %>")

document.querySelector("[data-role='claim-profile']").innerHTML = `
  <p>Step 3: <%= @current_legend %></p>

  <%= form_for :claimed_profile, url: claim_profile_step_3_path, remote: true do |form| %>
    <%= form.hidden_field :platform, value: @platform %>
    <%= form.hidden_field :user, value: @user %>

    <%= form.submit "Next step" %>
  <% end %>
`
