document.querySelector("[data-role='claim-profile']").innerHTML = `
  <p><strong>Step 2 out of 3</strong></p>
  <p>Go to the Main Menu of Apex Legends and select <strong><%= @current_legend %></strong> as your current Legend. <em>You do not need to enter a game.</em><br>Click "Next step" once you have selected the Legend.</p>

  <p>Select <strong><%= @current_legend %></strong></p>

  <%= form_for :claimed_profile, url: claim_profile_step_2_path, remote: true do |form| %>
    <%= form.hidden_field :platform, value: @platform %>
    <%= form.hidden_field :user, value: @user %>

    <%= form.submit "Next step", class: "button" %>
  <% end %>
`
