<article class="item">
  <% if asset_exists? "legends/#{ @item["name"].downcase }/#{ key }.png" %>
    <%= image_tag "legends/#{ @item["name"].downcase }/#{ key }.png", alt: ability["name"] %>
  <% end %>

  <div class="item__title heading heading--small">
    <h3 class="heading__title"><%= ability["name"] if ability["name"] %></h3>
    <div class="heading__line"></div>
  </div>

  <div class="item__full-width-info item__full-width-info--no-margin-top ability__full-width-info">
    <div>
      <small class="no-text-transform"><%= ability["description"] if ability["description"] %></small>
    </div>
  </div>


  <% if ability["primary_data"] || ability["secondary_data"] %>
    <div class="ability__information">
      <%= tag.div class: "columns" do %>
        <% ability["primary_data"].each do |key, data| %>
          <div class="columns__column item__large-info">
            <span><%= key.humanize %></span>
            <div><%= raw data %></div>
          </div>
        <% end %>
      <% end if ability["primary_data"] %>

      <%= tag.div class: "columns columns--direction-column" do %>
        <% ability["secondary_data"].each do |key, data| %>
          <div class="item__small-info">
            <%= key.humanize %>
            <span><div><%= raw data %></div></span>
          </div>
        <% end %>
      <% end if ability["secondary_data"] %>
    </div>
  <% end %>

  <%= tag.div class: "item__full-width-info ability__full-width-info" do %>
    <div>
      <small class="no-text-transform"><%= ability["extra"].html_safe %></small>
    </div>
  <% end if ability["extra"] %>
</article>
