<article class="item">
  <h3 class="item__title"><%= item["name"] if item["name"] %></h3>

  <div class="columns columns--abilities">
    <% item["abilities"].each do |key, ability| %>
      <div class="item__full-width-info item__full-width-info--image text-left">
        <% if asset_exists? "legends/#{ item["name"].downcase }/#{ key }.png" %>
          <%= image_tag "legends/#{ item["name"].downcase }/#{ key }.png", alt: ability["name"] %>
        <% end %>

        <div>
          <span class="color-basic"><%= ability["name"] %></span>
          <small class="no-text-transform"><%= ability["description"] %></small>
        </div>
      </div>
    <% end if item["abilities"] %>
  </div>

  <div class="item__tray">
    <%= link_to "More Data", legend_show_path(item["name"].downcase), class: "button-alternative button--full-width" %>
  </div>
</article>
