<% content_for :page_title, "#{  params[:items].underscore.humanize } sorted by #{ params[:sort_by].underscore.humanize }" %>

<div class="heading">
  <h3 class="heading__title"><%= params[:items].underscore.humanize %> <small>sorted by</small> <%= params[:sort_by].underscore.humanize %></h3>
</div>

<div class="item-columns item-columns--viewing-items item-columns--single" data-item-columns-main>
  <%= render "pages/item_columns/mobile_navigation", first_item_overwrite: "Filter" %>

  <main class="item-columns__main">
    <aside class="item-columns__sidebar">
      <%= link_to "Go back to Weapons", "#", class: "button button--secondary mobile-only", data: { action: "item-columns-view-items" } %>
      <%= render "sort/filter", active: params[:items] %>
    </aside>

    <% if @items.any? %>
      <%= render "pages/item_columns/weapons", block_id: @items, items: @items, is_active: true %>
    <% else %>
      Nothing found
    <% end %>
  </main>
</div>
