<header class="header">
  <div class="header__top">
    <div class="wrapper">
      <h1 class="header__logo-top">
        <%= link_to raw("ApexData.<strong>gg</strong>"), root_path %>
        &nbsp;|&nbsp; Apex legends Data and Stats
      </h1>

      <div class="header__content header__content--right header__content--social-icons">
        <% if Flipper.enabled?(:users) %>
          <% if current_user %>
            <%= render "notifications/notifications" if Flipper.enabled?(:notifications) %>
            <%= link_to "Your account", account_path, class: "header__action" %>
          <% else %>
            <%= link_to "Login", login_path, class: "header__action" %>
          <% end %>
        <% else %>
          <div class="header__action">Log in is temporarily offline</div>
        <% end %>

        <%= link_to inline_svg("icons/icon-twitter.svg"), "https://twitter.com/apexdatagg", target: "_blank" %>
        <%= link_to inline_svg("icons/icon-facebook.svg"), "https://www.facebook.com/ApexData-1430225080436016/", target: "_blank" %>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="wrapper">
      <div class="header__content">
        <div class="navigation-open">
          <%= inline_svg("layout/menu.svg") %>
        </div>
        <%= render "navigation" %>
      </div>

      <div class="header__logo">
        <%= link_to image_tag("layout/apexlogo.png", alt: "Apex Legends logo"), root_path, class: "logo__image" %>
      </div>

      <div class="header__content header__content--search">
        <div class="header-mobile__right">
          <% if Flipper.enabled?(:profiles) %>
            <%= link_to inline_svg("icons/icon-search.svg"), tracker_path %>
          <% end %>

          <% if Flipper.enabled?(:users) %>
            <% if current_user %>
              <%= link_to inline_svg("icons/icon-user.svg"), account_path %>
            <% else %>
              <%= link_to inline_svg("icons/icon-login.svg"), login_path %>
            <% end %>
          <% else %>
            <small>Log in is temporarily offline</small>
          <% end %>
        </div>

        <%= render "tracker" %>
      </div>
    </div>
  </div>
</header>
