<article class="item <%= "item--compact" if cookies[:viewtype] == "compact" %>">
  <div class="item__content">
    <div class="item__description">
      <div class="item__title heading heading--small">
        <h3 class="heading__title">
          <%= link_to item["name"], where_path("name", item["name"]) if item["name"] %>
        </h3>
        <div class="heading__line"></div>
      </div>

      <div class="item__main">
        Damage: <%= item["damage"] if item["damage"] %>

        <%= link_to image_tag("ammo_types/#{ item["ammo_type"] }"), where_path("ammo_type", item["ammo_type"]) if item["ammo_type"] %>
      </div>

      <div class="item__extra">
        <strong>Attachments</strong>

        <%= tag.div class:"item__attachments-table" do %>
          <% item["available_attachments"].map do |key, value| %>
            <%= key %> <%= value %> <br>
          <% end %>
        <% end if item["available_attachments"] %>
      </div>

      <div class="item__actions">
        <%= link_to "Expand", "#", class: "button", data: { action: "expand-item" } if cookies[:viewtype] == "compact" %>
      </div>
    </div>

    <% if asset_exist?("weapons/#{ item["name"].downcase.gsub(" ", "_") }.jpg") %>
      <%= image_tag "weapons/#{ item["name"].downcase.gsub(" ", "_") }", class: "item__image" %>
    <% else %>
      <%= image_tag "weapons/placeholder", class: "item__image" %>
    <% end %>
  </div>
</article>
