<article class="item <%= "item--compact" if cookies[:viewtype] == "compact" %>">
  <div class="item__content">
    <div class="item__description">
      <div class="item__title heading heading--small">
        <h3 class="heading__title">
          <%= link_to item["name"], where_path("name", item["name"]) if item["name"] %>
        </h3>
        <div class="heading__line"></div>
      </div>

      <div class="item__main">
        <div class="columns">
          <%= tag.div class: "columns__column item__large-info" do %>
            <span>Damage</span>
            <%= item["damage"] %>
          <% end if item["damage"] %>

          <%= tag.div class: "columns__column item__large-info" do %>
            <span>RPM</span>
            <%= item["rate_of_fire"] %>
          <% end if item["rate_of_fire"] %>
        </div>

        <%= tag.div class: "item__small-info" do %>
          Damage per second: <span><%= "%2g" % ("%.1f" % (item["damage"] * (item["rate_of_fire"] / 60))) %></span>
        <% end if item["rate_of_fire"] && item["damage"] %>

        <%= tag.div class: "item__small-info" do %>
          Headshot damage: <span><%= item["headshot_damage"] %></span>
        <% end if item["headshot_damage"] %>

        <div class="item__tray">
          <%= link_to image_tag("ammo_types/#{ item["ammo_type"] }"), where_path("ammo_type", item["ammo_type"]), class: "item__icon" if item["ammo_type"] %>

          <%= link_to "More data", "#", class: "button" %>
        </div>
      </div>

      <div class="item__extra">
        <strong>Attachments</strong>

        <%= tag.div class:"item__attachments-table" do %>
          <% item["available_attachments"].map do |key, value| %>
            <%= key %> <%= value %> <br>
          <% end %>
        <% end if item["available_attachments"] %>
      </div>

      <div class="item__actions">
        <%= link_to "Expand", "#", class: "button", data: { action: "expand-item" } if cookies[:viewtype] == "compact" %>
      </div>
    </div>

    <div class="item__image-wrapper">
      <% if asset_exist?("weapons/#{ item["name"].downcase.gsub(" ", "_") }.jpg") %>
        <%= image_tag "weapons/#{ item["name"].downcase.gsub(" ", "_") }", class: "item__image" %>
      <% else %>
        <%= image_tag "weapons/placeholder", class: "item__image" %>
      <% end %>
    </div>
  </div>
</article>
