<article class="item <%= "item--compact" if cookies[:viewtype] == "compact" %>" data-compare-item="<%= item["name"].downcase.gsub(" ", "_") %>">
  <div class="item__content">
    <%= link_to "#", class: "button button--small item__top-action", data: { action: "compare" } do %>
      Compare

      <div class="button__tooltip">
        Compare other items against this. Hover over values to see the difference between the two.
      </div>
    <% end %>

    <div class="item__description">
      <div class="item__title heading heading--small">
        <h3 class="heading__title">
          <%= link_to item["name"], where_path("name", item["name"]) if item["name"] %>
        </h3>
        <div class="heading__line"></div>
      </div>

      <div class="item__data-wrapper">
        <div class="item__main">
          <div class="columns">
            <%= tag.div class: "columns__column item__large-info" do %>
              <span>Damage</span>
              <div data-compare-target="damage"><%= item["damage"] %></div>
            <% end if item["damage"] %>

            <%= tag.div class: "columns__column item__large-info" do %>
              <span>RPM</span>
              <div data-compare-target="rate-of-fire"><%= item["rate_of_fire"] %></div>
            <% end if item["rate_of_fire"] %>
          </div>

          <%= tag.div class: "item__small-info" do %>
            Damage per second: <span><div data-compare-target="dps"><%= "%2g" % ("%.1f" % (item["damage"] * (item["rate_of_fire"] / 60))) %></div></span>
          <% end if item["rate_of_fire"] && item["damage"] %>

          <%= tag.div class: "item__small-info" do %>
            Headshot damage: <span><div data-compare-target="headshot-damage"><%= item["headshot_damage"] %></div></span>
          <% end if item["headshot_damage"] %>

          <div class="item__tray">
            <%= link_to image_tag("ammo_types/#{ item["ammo_type"] }"), where_path("ammo_type", item["ammo_type"]), class: "item__icon" if item["ammo_type"] %>

            <%= link_to "More data", "#", class: "button button--primary", data: { action: "item-more-data" } %>
          </div>
        </div>

        <div class="item__extra columns">
          <div class="columns__column">
            <%= tag.div class: "item__small-info" do %>
              Legshot damage <span><div data-compare-target="legshot_damage"><%= item["legshot_damage"] %></div></span>
            <% end if item["legshot_damage"] %>

            <%= tag.div class: "item__small-info" do %>
              Ammo capacity <span><div data-compare-target="ammo_capacity"><%= item["ammo_capacity"] %></div></span>
            <% end if item["ammo_capacity"] %>

            <%= tag.div class: "item__small-info" do %>
              Projectile speed <span><div data-compare-target="projectile_speed"><%= item["projectile_speed"] %></div></span> <small>yards/sec</small>
            <% end if item["projectile_speed"] %>

            <br>

            <%= tag.div class: "item__small-info" do %>
              Tactical reload <span><div data-compare-target="tactical_reload"><%= item["tactical_reload"] %></div></span> <small>s</small>
            <% end if item["tactical_reload"] %>

            <%= tag.div class: "item__small-info" do %>
              Empty reload <span><div data-compare-target="empty_reload"><%= item["empty_reload"] %></div></span> <small>s</small>
            <% end if item["empty_reload"] %>

            <%= tag.div class: "item__small-info" do %>
              Draw time <span><div data-compare-target="draw_time"><%= item["draw_time"] %></div></span> <small>s</small>
            <% end if item["draw_time"] %>

            <%= tag.div class: "item__small-info" do %>
              Holster time <span><div data-compare-target="holster_time"><%= item["holster_time"] %></div></span> <small>s</small>
            <% end if item["holster_time"] %>
          </div>

          <%= tag.div class:"columns__column" do %>
            <strong>Attachments</strong>

            <%= tag.div class:"item__attachments-table" do %>
              <% item["available_attachments"].map do |key, value| %>
                <div class="item__attachments-item <%= "item__attachments-item--disabled" unless value %>">

                </div>
              <% end %>
            <% end %>
          <% end if item["available_attachments"] %>
        </div>

        <div class="item__actions">
          <%= link_to "Expand", "#", class: "button", data: { action: "expand-item" } if cookies[:viewtype] == "compact" %>
        </div>
      </div>
    </div>

    <div class="item__image-wrapper">
      <% if asset_exist?("weapons/#{ item["name"].downcase.gsub(" ", "_") }.jpg") %>
        <%= image_tag "weapons/#{ item["name"].downcase.gsub(" ", "_") }", class: "item__image" %>
      <% else %>
        <%= image_tag "weapons/placeholder", class: "item__image" %>
      <% end %>
    </div>
  </div>
</article>
