<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Sub Machine Guns", page_path("sub-machine-guns") %>
  <%= link_to "Assault Rifles", page_path("assault-rifles") %>
  <%= link_to "Light Machine Guns", page_path("light-machine-guns") %>
  <%= link_to "Pistols", page_path("pistols") %>
  <%= link_to "Shotguns", page_path("shotguns") %>
  <%= link_to "Sniper Rifles", page_path("sniper-rifles") %>
</nav>
