<div class="logo">
  <h1>
    <%= link_to root_path do %>ApexData.<strong>gg</strong><% end %>
  </h1>

  <h2 class="logo__sub-title">Apex Legends Weapon&nbsp;Data&nbsp;and&nbsp;Statistics</h2>
</div>

<nav>
  <%= link_to "All", root_path, class: current_page?(root_path) ? "active" : "" %>

  <div class="dropdown">
    <a>Weapons</a>

    <div class="dropdown__content">
      <%= link_to "SMGs", page_path("sub-machine-guns"), class: current_page?(page_path("sub-machine-guns")) ? "active" : "" %>
      <%= link_to "Assault Rifles", page_path("assault-rifles"), class: current_page?(page_path("assault-rifles")) ? "active" : "" %>
      <%= link_to "LMGs", page_path("light-machine-guns"), class: current_page?(page_path("light-machine-guns")) ? "active" : "" %>
      <%= link_to "Pistols", page_path("pistols"), class: current_page?(page_path("pistols")) ? "active" : "" %>
      <%= link_to "Shotguns", page_path("shotguns"), class: current_page?(page_path("shotguns")) ? "active" : "" %>
      <%= link_to "Sniper Rifles", page_path("sniper-rifles"), class: current_page?(page_path("sniper-rifles")) ? "active" : "" %>
    </div>
  </div>

  <div class="dropdown">
    <a>Items</a>

    <div class="dropdown__content">
      <%= link_to "Grenades", page_path("grenades"), class: current_page?(page_path("grenades")) ? "active" : "" %>
      <%= link_to "Consumables", page_path("consumables"), class: current_page?(page_path("consumables")) ? "active" : "" %>
      <%= link_to "Equipment", page_path("equipment"), class: current_page?(page_path("equipment")) ? "active" : "" %>
      <%= link_to "Attachments", page_path("attachments"), class: current_page?(page_path("attachments")) ? "active" : "" %>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="switch <%= "switch--active-right" if compact? %>">
    <%= link_to "Expanded view", expanded_path, class: "switch__item" %>
    <%= link_to "", compact? ? expanded_path : compact_path, class:"switch__toggle" %>
    <%= link_to "Compact view", compact_path, class: "switch__item" %>
  </div>

  <div class="center-element">
    <%= link_to (cookies[:alldata] == "expanded" ? alldata_compact_path : alldata_expanded_path), class: "toggle #{ cookies[:alldata] == "expanded" ? "toggle--active" : "" }" do %>
      <div class="toggle__check"></div>
      <div class="toggle__content">Expand all Data</div>
    <% end %>
  </div>
</div>
