<nav class="navigation">
  <div class="navigation-close">
    <%= inline_svg("layout/close.svg") %>
  </div>
  <div class="dropdown">
    <%= link_to page_path("weapons"), class: current_page?(page_path("weapons")) ? "active" : "" do %>
      Weapons & items
      <%= inline_svg("layout/icon-dropdown.svg") %>
    <% end %>

    <div class="dropdown__content">
      <div class="dropdown__inner">
        <%= link_to "All", page_path("weapons"), class: current_page?(page_path("weapons")) ? "active" : "" %>
        <%= link_to "SMGs", page_path("sub-machine-guns"), class: current_page?(page_path("sub-machine-guns")) ? "active" : "" %>
        <%= link_to "Assault Rifles", page_path("assault-rifles"), class: current_page?(page_path("assault-rifles")) ? "active" : "" %>
        <%= link_to "LMGs", page_path("light-machine-guns"), class: current_page?(page_path("light-machine-guns")) ? "active" : "" %>
        <%= link_to "Pistols", page_path("pistols"), class: current_page?(page_path("pistols")) ? "active" : "" %>
        <%= link_to "Shotguns", page_path("shotguns"), class: current_page?(page_path("shotguns")) ? "active" : "" %>
        <%= link_to "Sniper Rifles", page_path("sniper-rifles"), class: current_page?(page_path("sniper-rifles")) ? "active" : "" %>

        <hr>

        <%= link_to "Grenades", page_path("grenades"), class: current_page?(page_path("grenades")) ? "active" : "" %>
        <%= link_to "Consumables", page_path("consumables"), class: current_page?(page_path("consumables")) ? "active" : "" %>
        <%= link_to "Equipment", page_path("equipment"), class: current_page?(page_path("equipment")) ? "active" : "" %>
        <%= link_to "Attachments", page_path("attachments"), class: current_page?(page_path("attachments")) ? "active" : "" %>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <%= link_to legends_path, class: current_page?(legends_path) ? "active" : "" do %>
      Legends
      <%= inline_svg("layout/icon-dropdown.svg") %>
    <% end %>

    <div class="dropdown__content">
      <div class="dropdown__inner">
        <%= link_to "All", legends_path, class: current_page?(legends_path) ? "active" : "" %>
        <% legends_list.each do |legend| %>
          <%= link_to legend, legend_show_path(legend.downcase), class: current_page?(legend_show_path(legend.downcase)) ? "active" : "" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <%= link_to page_path("patch-notes"), class: current_page?(page_path("patch-notes")) ? "active" : "" do %>
      Patch Notes
      <%= inline_svg("layout/icon-dropdown.svg") %>
    <% end %>

    <div class="dropdown__content">
      <div class="dropdown__inner">
        <%= link_to "4.16.2019", page_path("patch-notes/4-16-2019"), class: current_page?("/patch-notes/4-16-2019") ? "active" : "" %>
        <%= link_to "4.3.2019", page_path("patch-notes/4-3-2019"), class: current_page?("/patch-notes/4-3-2019") ? "active" : "" %>
        <%= link_to "3.19.2019", page_path("patch-notes/3-19-2019"), class: current_page?("/patch-notes/3-19-2019") ? "active" : "" %>
        <%= link_to "3.6.2019", page_path("patch-notes/3-6-2019"), class: current_page?("/patch-notes/3-6-2019") ? "active" : "" %>
        <%= link_to "2.19.2019", page_path("patch-notes/2-19-2019"), class: current_page?("/patch-notes/2-19-2019") ? "active" : "" %>
        <%= link_to "2.13.2019", page_path("patch-notes/2-13-2019"), class: current_page?("/patch-notes/2-13-2019") ? "active" : "" %>
      </div>
    </div>
  </div>

  <%= link_to "Tier List", page_path("tierlist"), class: current_page?(page_path("tierlist")) ? "active" : "" %>
</nav>
