<h1 class="logo"><%= link_to root_path do %>ApexData.<strong>gg</strong><% end %></h1>

<nav>
  <%= link_to "All", root_path, class: current_page?(root_path) ? "active" : "" %>
  <%= link_to "SMGs", page_path("sub-machine-guns"), class: current_page?(page_path("sub-machine-guns")) ? "active" : "" %>
  <%= link_to "Assault Rifles", page_path("assault-rifles"), class: current_page?(page_path("assault-rifles")) ? "active" : "" %>
  <%= link_to "LMGs", page_path("light-machine-guns"), class: current_page?(page_path("light-machine-guns")) ? "active" : "" %>
  <%= link_to "Pistols", page_path("pistols"), class: current_page?(page_path("pistols")) ? "active" : "" %>
  <%= link_to "Shotguns", page_path("shotguns"), class: current_page?(page_path("shotguns")) ? "active" : "" %>
  <%= link_to "Sniper Rifles", page_path("sniper-rifles"), class: current_page?(page_path("sniper-rifles")) ? "active" : "" %>
</nav>

<div class="wrapper">
  <div class="switch <%= "switch--active-right" if cookies[:viewtype] == "compact" %>">
    <%= link_to "Expanded view", expanded_path, class: "switch__item" %>
    <%= link_to "", cookies[:viewtype] == "compact" ? expanded_path : compact_path, class:"switch__toggle" %>
    <%= link_to "Compact view", compact_path, class: "switch__item" %>
  </div>
</div>
