<div class="theme-switch <%= extra_class if !local_assigns[:extra_class].nil? %>">
  <% if theme_dark? %>
    <%= link_to theme_light_path do %>
      <span>Switch to day mode</span>
      <% if asset_exist?("sun.png") %>
        <%= image_tag "sun.png" %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to theme_dark_path do %>
      <span>Switch to night mode</span>
      <% if asset_exist?("moon.png") %>
        <%= image_tag "moon.png" %>
      <% end %>
    <% end %>
  <% end %>
</div>
