<% cache "#{ item["name"] }" do %>
  <article class="item">
    <% if asset_exists?("consumables/#{ item["name"].downcase.gsub(" ", "_") }.png") %>
      <div class="item__large-icon-wrapper">
        <%= image_tag "consumables/#{ item["name"].downcase.gsub(" ", "_") }.png", class: "item__large-icon", alt: item["name"] %>
      </div>
    <% end %>

    <h3 class="item__title">
      <%= item["name"] %>
    </h3>

    <div class="columns">
      <%= tag.div class: "columns__column item__large-info" do %>
        <span>Heals</span>
        <div><%= item["heals"] %></div>
      <% end if item["heals"] %>

      <%= tag.div class: "columns__column item__large-info" do %>
        <span>Shields</span>
        <div><%= item["restores"] %></div>
      <% end if item["restores"] %>

      <%= tag.div class: "columns__column item__large-info" do %>
        <span>Ultimate</span>
        <div><%= item["ultimate"] %></div>
      <% end if item["ultimate"] %>
    </div>

    <%= tag.div class: "item__small-info" do %>
      Cast time: <span><div><%= item["cast_time"] %></div></span>
      <small>s</small>
    <% end if item["cast_time"] %>
  </article>
<% end %>
