<article class="item item--compact <%= "item--extra-compact" if compact? %>" data-compare-item="<%= item["name"].downcase.gsub(" ", "_") %>">
  <div class="item__content">
    <%= link_to "#", class: "button button--small item__top-action", data: { action: "compare" }, title: "Compare other items against this. Hover over values to see the difference between the two." do %>
      Compare
    <% end %>

    <div class="item__description">
      <% if asset_exists?("equipment/#{ item["name"].downcase.gsub(" ", "_") }.png") && !compact? %>
        <div class="item__large-icon-wrapper">
          <%= image_tag "equipment/#{ item["name"].downcase.gsub(" ", "_") }.png", class: "item__large-icon", alt: item["name"] %>
        </div>
      <% end %>

      <div class="item__title heading heading--small">
        <h3 class="heading__title">
          <%= item["name"].truncate(16) %>
        </h3>
        <div class="heading__line"></div>
      </div>

      <div class="item__data-wrapper">
        <div class="item__main">
          <%= tag.div class: "item__full-width-info" do %>
            <span class="color-basic">Basic</span>
            <div class="no-text-transform"><%= item["basic"].html_safe %></div>
          <% end if item["basic"] %>

          <%= tag.div class: "item__full-width-info" do %>
            <span class="color-rare">Rare</span>
            <div class="no-text-transform"><%= item["rare"].html_safe %></div>
          <% end if item["rare"] %>

          <%= tag.div class: "item__full-width-info" do %>
            <span class="color-epic">Epic</span>
            <div class="no-text-transform"><%= item["epic"].html_safe %></div>
          <% end if item["epic"] %>

          <%= tag.div class: "item__full-width-info" do %>
            <span class="color-legendary">Legendary</span>
            <div class="no-text-transform"><%= item["legendary"].html_safe %></div>
          <% end if item["legendary"] %>
        </div>
      </div>
    </div>
  </div>
</article>
