<% cache "#{ item["name"] }" do %>
  <article class="item">
    <% if asset_exists?("equipment/#{ item["name"].downcase.gsub(" ", "_") }.png") %>
      <div class="item__large-icon-wrapper">
        <%= image_tag "equipment/#{ item["name"].downcase.gsub(" ", "_") }.png", class: "item__large-icon", alt: item["name"] %>
      </div>
    <% end %>

    <h3 class="item__title">
      <%= item["name"] %>
    </h3>

    <%= tag.div class: "item__full-width-info item__full-width-info--small" do %>
      <span class="color-basic">Basic</span>
      <%= item["basic"].html_safe %>
    <% end if item["basic"] %>

    <%= tag.div class: "item__full-width-info item__full-width-info--small" do %>
      <span class="color-rare">Rare</span>
      <%= item["rare"].html_safe %>
    <% end if item["rare"] %>

    <%= tag.div class: "item__full-width-info item__full-width-info--small" do %>
      <span class="color-epic">Epic</span>
      <%= item["epic"].html_safe %>
    <% end if item["epic"] %>

    <%= tag.div class: "item__full-width-info item__full-width-info--small" do %>
      <span class="color-legendary">Legendary</span>
      <%= item["legendary"].html_safe %>
    <% end if item["legendary"] %>
  </article>
<% end %>
