<% cache "#{ item["name"] }" do %>
  <article class="item item--compact">
    <div class="item__content item__content--same-height">
      <div class="item__description">
        <% if asset_exists?("grenades/#{ item["name"].downcase.gsub(" ", "_") }.png") %>
          <div class="item__large-icon-wrapper">
            <%= image_tag "grenades/#{ item["name"].downcase.gsub(" ", "_") }.png", class: "item__large-icon", alt: item["name"] %>
          </div>
        <% end %>

        <h3 class="item__title">
          <%= item["name"] %>
        </h3>

        <div class="item__data-wrapper">
          <div class="item__main">
            <div class="columns">
              <%= tag.div class: "columns__column item__large-info" do %>
                <span>Explosion <br> Damage</span>
                <div><%= item["explosion_damage"] %></div>
              <% end if item["explosion_damage"] %>

              <%= tag.div class: "columns__column item__large-info" do %>
                <span title="The damage this deals when throwing it straight against an enemy">Impact <br> Damage</span>
                <div><%= item["impact_damage"] %></div>
              <% end if item["impact_damage"] %>

              <%= tag.div class: "columns__column item__large-info" do %>
                <span>Burn <br> Damage</span>
                <div><%= item["burn_damage"] %></div>
              <% end if item["burn_damage"] %>
            </div>

            <%= tag.p class: "item__full-width-info" do %>
              <small><%= item["description"].html_safe %></small>
            <% end if item["description"] %>

            <%= tag.div class: "item__small-info" do %>
              Explosion timer
              <span><%= item["explosion_timer"] %></span>
              <% if item["explosion_timer"].is_a?(Fixnum) %><small>s</small><% end %>
            <% end if item["explosion_timer"] %>

            <%= tag.div class: "item__small-info" do %>
              Effect timer
              <span><%= item["effect_timer"] %></span>
              <small>s</small>
            <% end if item["effect_timer"] %>

            <%= tag.div class: "item__small-info" do %>
              After Burn timer
              <span><%= item["after_burn_timer"] %></span>
              <small>s</small>
            <% end if item["after_burn_timer"] %>

            <%= tag.div class: "item__small-info" do %>
              Ticks per second
              <span><%= item["ticks_per_second"] %></span>
            <% end if item["ticks_per_second"] %>
          </div>
        </div>
      </div>
    </div>
  </article>
<% end %>
