<!DOCTYPE html>
<html lang="en">
  <head>
    <% if yield(:page_title) != "" %>
      <title><%= yield(:page_title) %> | ApexData.gg</title>
    <% else %>
      <title>ApexData.gg | Apex Legends Data, Stats, and Player Tracker</title>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apex Data | Apex Legends Data and Statistics to find out what items suit you best. Find your profile and track your in-game stats.">
    <meta name="keywords" content="Apex Legends, Apex Weapons, Weapon Data, Weapon Statistics, ApexData GG, Apex Data, Player Tracker, Player Profile">
    <meta name="theme-color" content="#1d1f27">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-dark-scheme-32x32.png" %>" sizes="32x32" id="favicon-dark-scheme" />
    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-dark-scheme-16x16.png" %>" sizes="16x16" id="favicon-dark-scheme" />
    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-32x32.png" %>" sizes="32x32" id="favicon-light-scheme" />
    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-16x16.png" %>" sizes="16x16" id="favicon-light-scheme" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <% if yield(:extra_style) != "" %>
      <style><%= yield(:extra_style) %></style>
    <% end %>
  </head>

  <body>
    <%= render "header" %>

    <main class="wrapper top-offset">
      <%= yield %>

      <%= render "social" %>
      <%= render "footer" %>
    </main>

    <%= render "analytics_code" if Rails.env.production? %>
  </body>
</html>
