<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ApexData.GG | <%= content_for?(:page_title) ? yield(:page_title) : "Apex Legends Data and Stats" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apex Data | Apex Legends Data and Statistics to find out what items suit you best.">
    <meta name="keywords" content="Apex Legends, Apex Weapons, Weapon Data, Weapon Statistics, ApexData GG, Apex Data">
    <meta name="theme-color" content="#1d1f27">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-16x16.png" %>" sizes="16x16" />

    <%= csrf_meta_tags %>

    <%= render "cookie_consent" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= render "ads" %>

    <% if theme_light? %>
      <style>
        :root {
          --primaryDark: #dedede;
          --bg-color: #f1f1f1;
          --border-color: #ffffff;
          --text-color: #313131;
          --title-color: #212121;
          --white: #ffffff;
        }
      </style>
    <% else %>
      <style>
        :root {
          --primaryDark: #1d1f27;
          --bg-color: #282A36;
          --border-color: #3e4153;
          --text-color: #8e8e8e;
          --title-color: #ffffff;
          --white: #ffffff;
        }
      </style>
    <% end %>
  </head>

  <body <% if theme_light? %>class="light_theme"<% end %>>
    <%= render "ads_no_script" %>

    <header class="header">
      <%= link_to image_tag("layout/apexlogo.png", alt: "Apex Legends logo"), root_path, class: "header__logo" %>
      <div class="theme__switch">
        <% if theme_dark? %>
          <%= link_to theme_light_path do %>
            <span>Swith to day mode</span>
            <% if asset_exist?("sun.png") %>
              <%= image_tag "sun.png" %>
            <% end %>
          <% end %>
        <% elsif theme_light? %>
          <%= link_to theme_dark_path do %>
            <span>Swith to night mode</span>
            <% if asset_exist?("moon.png") %>
              <%= image_tag "moon.png" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to theme_light_path do %>
            <span>Swith to day mode</span>
            <% if asset_exist?("sun.png") %>
              <%= image_tag "sun.png" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </header>

    <aside class="wrapper wrapper--no-padding">
      <%= render "navigation" %>
    </aside>

    <main class="wrapper">
      <div class="items-wrapper">
        <%= yield %>
      </div>

      <%= render "ad" %>
      <%= render "social" %>
      <%= render "footer" %>
    </main>

    <%= render "analytics_code" if Rails.env.production? %>
  </body>
</html>
