<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ApexData.GG | <%= content_for?(:page_title) ? yield(:page_title) : "Apex Legends Data and Stats" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apex Data | Apex Legends Data and Statistics to find out what items suit you best.">
    <meta name="keywords" content="Apex Legends, Apex Weapons, Weapon Data, Weapon Statistics, ApexData GG, Apex Data">
    <meta name="theme-color" content="#1d1f27">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "layout/favicon-16x16.png" %>" sizes="16x16" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body <% if theme_light? %>class="theme-light"<% end %>>
    <header class="header">
      <%= render "header" %>
    </header>

    <main class="wrapper">
      <div class="items-wrapper">
        <%= yield %>
      </div>

      <%= render "social" %>
      <%= render "footer" %>
    </main>

    <%= render "analytics_code" if Rails.env.production? %>
  </body>
</html>
