<!DOCTYPE html>
<html>
  <head>
    <title>ApexData.GG | Apex Legends - Weapon Data and Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apex Legends Weapons Data and Statistics to find out what items suit you best.">
    <meta name="keywords" content="Apex Legends, Weapon Data, Weapon Statistics, ApexData GG"

    <link rel="icon" href="<%= image_path "layout/apexlogo.png" %>">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>

    <header class="header">
      <%= link_to image_tag("layout/apexlogo.png"), root_path, class: "header__logo" %>
    </header>

    <aside class="wrapper wrapper__no-padding">
      <%= render "navigation" %>
    </aside>

    <main class="wrapper">
      <%= yield %>
    </main>
  </body>
</html>
