<!DOCTYPE html>
<html>
  <head>
    <title>Apex Stats GG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "navigation" %>


    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
